## 1.- Crear Base de Datos

* Crear con código SQL una base de datos llamada supermercado.
* Código Python con mysql connector que ejecute el SQL para borrar y generar la base de datos vacía

In [1]:
# Ejercicio 1 - Crear base de datos estudiantes
import mysql.connector as con
def crear_bd(sql):
    try:
       connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="ADMIN",
            database='supermercado'
        )
       cursor = connection.cursor()
       cursor.execute(sql)
       
    except con.Error as error:
      print(f"Ha ocurrido un error: {error}") 
      if connection:
         connection.rollback()
         return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

In [2]:
sql = "DROP DATABASE IF EXISTS supermercado; CREATE DATABASE IF NOT EXISTS supermercado;"

In [3]:
crear_bd(sql)

# Tablas SQL

* Tiendas

   * id_tienda (PRIMARY KEY)
   * nombre_tienda
   * direccion
   * ciudad

In [4]:
sql = "CREATE TABLE IF NOT EXISTS tiendas (id_tienda INT AUTO_INCREMENT PRIMARY KEY, nombre_tienda VARCHAR(100) NOT NULL, dirección VARCHAR(80), ciudad VARCHAR(50) NOT NULL);"

In [5]:
crear_bd(sql)

* Empleados
    * id_empleado (PRIMARY KEY)
    * nombre_empleado
    * puesto (ej.: Cajero, Gerente, Reponedor)
    * id_tienda (FOREIGN KEY que hace referencia a tiendas.id_tienda)

In [6]:
sql = "CREATE TABLE IF NOT EXISTS empleados (id_empleado INT AUTO_INCREMENT PRIMARY KEY, nombre_empleado VARCHAR(100) NOT NULL, puesto VARCHAR(60), id_tienda INT NOT NULL, FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda) ON DELETE CASCADE);"

In [7]:
crear_bd(sql)

* Categorias
    * id_categoria (PRIMARY KEY)
    * nombre_categoria

In [8]:
sql = "CREATE TABLE IF NOT EXISTS categorias (id_categoria INT AUTO_INCREMENT PRIMARY KEY, nombre_categoria VARCHAR(60));"

In [9]:
crear_bd(sql)

* Productos
    * id_producto (PRIMARY KEY)
    * nombre_producto
    * precio
    * stock
    * id_categoria (FOREIGN KEY que hace referencia a categorias.id_categoria)

In [10]:
sql = "CREATE TABLE IF NOT EXISTS productos (id_producto INT AUTO_INCREMENT PRIMARY KEY, nombre_producto VARCHAR(70), precio FLOAT(8,2), stock INT, id_categoria INT NOT NULL, FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria));"

In [11]:
crear_bd(sql)

* Clientes
    * id_cliente (PRIMARY KEY)
    * first_name
    * last_name
    * email
    * codigo_postal

In [12]:
sql = "CREATE TABLE IF NOT EXISTS clientes (id_cliente INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(100), codigo_postal INT);"

In [13]:
crear_bd(sql)

* Ordenes
    * id_orden (PRIMARY KEY)
    * id_cliente (FOREIGN KEY que hace referencia a clientes.id_cliente)
    * id_empleado (FOREIGN KEY que hace referencia a empleados.id_empleado)
    * fecha_orden
    * metodo_pago (una enum que solo admita tres valores Tarjeta, Efectivo)

In [14]:
sql = "CREATE TABLE IF NOT EXISTS ordenes (id_orden INT AUTO_INCREMENT PRIMARY KEY, id_cliente INT, id_empleado INT, fecha_orden DATE, metodo_pago ENUM('Tarjeta', 'Efectivo') DEFAULT 'Efectivo', FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente), FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado));"

In [15]:
crear_bd(sql)

* Detalle_orden
    * id_detalle (PRIMARY KEY)
    * id_orden (FOREIGN KEY que hace referencia a ordenes.id_orden) NOT NULL
    * id_producto (FOREIGN KEY que hace referencia a productos.id_producto) NOT NULL
    * cantidad
    * precio_unitario: mismo precio que en la tabla producto
    * descuento (podría ser NULL si no se aplica)

In [16]:
sql = "CREATE TABLE IF NOT EXISTS detalle_orden (id_detalle INT AUTO_INCREMENT PRIMARY KEY, id_orden INT NOT NULL, id_producto INT NOT NULL, cantidad FLOAT(8,2), precio_unitario FLOAT(8,2), descuento TINYINT, FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden), FOREIGN KEY (id_producto) REFERENCES productos(id_producto));"

In [17]:
crear_bd(sql)

# Tablas

## 2.- Generar datos demo desde Python

In [18]:
def insertar_dataframe(df, table_name):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="ADMIN",
            database='supermercado'
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()] # lista de tuplas con los datos del dataframe

        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

* Tabla Tiendas

In [19]:
import pandas as pd
import random
import datetime

tiendas = ['Tienda Centro','Tienda Norte','Tienda Sur','Tienda Poniente','Tienda Este','Tienda Oeste','Central Tiendas']
tiendas

dirección = ['Avd.Centro,nº1','Calle Norte, nº2','Calle Sur, nº3', 'Avd. Poniente, nº4','Calle Este, nº5','Calle Oeste, nº6', 'Crta.Central, Km10']
   
dirección

# Ciudad

ciudad= ['Almería','Girona','Murcia','Barcelona','Orense','Gijón','Madrid' ] 
ciudad 

# Creamos un DataFrame 

df_tiendas = pd.DataFrame(zip(tiendas, dirección, ciudad),
             columns= ['nombre_tienda', 'dirección', 'ciudad']) # El comando Zip empaqueta todas las variante hemos hecho | y con columns damos nombres a las columnas

# Añadir columna Pk:

df_tiendas = df_tiendas.reset_index().rename({'index': 'id_tienda'}, axis=1)
df_tiendas['id_tienda'] = df_tiendas['id_tienda'] + 1
df_tiendas

   id_tienda    nombre_tienda           dirección     ciudad
0          1    Tienda Centro      Avd.Centro,nº1    Almería
1          2     Tienda Norte    Calle Norte, nº2     Girona
2          3       Tienda Sur      Calle Sur, nº3     Murcia
3          4  Tienda Poniente  Avd. Poniente, nº4  Barcelona
4          5      Tienda Este     Calle Este, nº5     Orense
5          6     Tienda Oeste    Calle Oeste, nº6      Gijón
6          7  Central Tiendas  Crta.Central, Km10     Madrid

In [20]:
insertar_dataframe(df_tiendas, 'tiendas')

7

* Tabla Empleados

In [21]:
# Creamos lista de empleados | Nombre,Apellidos,Función
empleados = list()
nombres = ['Alejandro', 'María', 'Carlos', 'Lucía', 'Fernando', 'Isabel', 'Javier', 'Ana', 'Miguel', 'Sofía', 'José', 'Clara', 'Luis', 'Elena', 'Daniel', 'Marta', 'Andrés', 'Laura', 'Raúl', 'Paula', 'Manuel', 'Sara', 'Pablo', 'Julia', 'Sergio', 'Valeria', 'Tomás', 'Adriana', 'Eduardo', 'Camila', 'Francisco', 'Diana', 'Ricardo', 'Patricia', 'Ángel', 'Carla', 'Diego', 'Irene', 'Samuel', 'Eva', 'David', 'Andrea', 'Hugo', 'Verónica', 'Cristian', 'Gabriela', 'Mario', 'Natalia', 'Jorge', 'Lorena', 'Rubén', 'Carmen']
apellidos = ['García', 'Martínez', 'López', 'Sánchez', 'Pérez', 'González', 'Rodríguez', 'Fernández', 'Hernández', 'Jiménez', 'Ruiz', 'Díaz', 'Moreno', 'Álvarez', 'Romero', 'Torres', 'Vázquez', 'Domínguez', 'Ramos', 'Ramírez', 'Castro', 'Ortiz', 'Rubio', 'Molina', 'Delgado', 'Cruz', 'Flores', 'Navarro', 'Cabrera', 'Campos', 'Peña', 'Aguilar', 'Santos', 'Reyes', 'Méndez', 'Medina', 'Paredes', 'Serrano', 'Cortés', 'Carrillo', 'Ortiz', 'Velázquez', 'Chávez', 'Guzmán', 'Salinas', 'Esquivel', 'Lara', 'Fuentes', 'Montes']
función = ["Cajero", "Reponedor", "Encargado de sección", "Gerente", "Personal de limpieza", "Panadero", "Carnicero", "Pescadero", "Frutero", "Charcutero", "Jefe de turno", "Operador logístico", "Atención al cliente", "Auxiliar de caja", "Encargado de seguridad","Responsable de zona","Jefe de compras","Encargada carnicería","encargado pescadería","Jefe de Limpieza"]
for tienda in df_tiendas['id_tienda']:
    for empleado in range(20):
        nombre_empleado = (random.choice(nombres) + ' ' + random.choice(apellidos))
        puesto = función[empleado]
        id_tienda = tienda
        empleados.append([nombre_empleado, puesto, id_tienda])
        
# Creamos un DataFrame         
df_empleados = pd.DataFrame(empleados, columns=['nombre_empleado', 'puesto', 'id_tienda'])
        
df_empleados = df_empleados.reset_index().rename({'index': 'id_empleado'}, axis=1)
df_empleados['id_empleado'] = df_empleados['id_empleado'] + 1
df_empleados

     id_empleado   nombre_empleado                puesto  id_tienda
0              1       Marta Ortiz                Cajero          1
1              2  Francisco García             Reponedor          1
2              3      Diego Méndez  Encargado de sección          1
3              4      Hugo Sánchez               Gerente          1
4              5    Ricardo Chávez  Personal de limpieza          1
..           ...               ...                   ...        ...
135          136     Diego Salinas   Responsable de zona          7
136          137  Ricardo González       Jefe de compras          7
137          138    Gabriela Reyes  Encargada carnicería          7
138          139        Carla Ruiz  encargado pescadería          7
139          140     Carmen Guzmán      Jefe de Limpieza          7

[140 rows x 4 columns]

In [22]:
insertar_dataframe(df_empleados, "empleados")

140

* Tabla Categorías

In [23]:
categorias = ['Lácteos','Pescados','Carnes','Verduras','Frutas','Bollería y Pan','Refrescos','Vinos','Alcohol','Congelados']

df_categorias= pd.DataFrame(categorias,columns= ['nombre_categoria'])

# Añadir columna pk:

df_categorias = df_categorias.reset_index().rename({'index': 'id_categoria'}, axis=1)
df_categorias['id_categoria'] = df_categorias['id_categoria'] + 1
df_categorias

   id_categoria nombre_categoria
0             1          Lácteos
1             2         Pescados
2             3           Carnes
3             4         Verduras
4             5           Frutas
5             6   Bollería y Pan
6             7        Refrescos
7             8            Vinos
8             9          Alcohol
9            10       Congelados

In [24]:
insertar_dataframe(df_categorias, 'categorias')

10

* Productos

    * id_producto: valores enteros consecutivos (1, 2, 3...).
    * nombre_producto: nombres como “Leche Entera”, “Manzana Roja”, “Refresco de Cola”, etc.
    * precio: valores DECIMAL entre 0.50 y 50.00, por ejemplo.
    * stock: valores INT entre 0 y 500 (o el rango que quieras).
    * id_categoria: debe hacer referencia a las categorías que hayas definido (1, 2, 3, etc.).

In [25]:
# Listado de productos

# generar columna id_producto
nombres = ["Leche", "Yogur", "Queso", "Mantequilla", "Pollo", "Carne de res", "Cerdo", "Chuletas", "Manzana", "Banana", "Naranja", "Uva", "Zanahoria", "Tomate", "Lechuga", "Cebolla", "Agua", "Jugo de naranja", "Refresco", "Cerveza", "Papas fritas", "Chocolate", "Galletas", "Chicles", "Velas", "Platos desechables", "Bolsas de basura", "Pilas", "Detergente", "Jabón líquido", "Esponjas", "Desinfectante", "Champú", "Colonia", "Crema hidratante", "Desodorante", "Tierra para macetas", "Fertilizante", "Semillas", "Regadera"]
precios, lista_categorias, stock = list(), list(), list()
cantidad = len(nombres)
for _ in range(cantidad):
    precios.append(random.uniform(0.50, 10.50))
    stock.append(random.randint(0, 500))
for categ in df_categorias['id_categoria']:
    for i in range(4):
        lista_categorias.append(categ)
lista_categorias        
df_productos = pd.DataFrame(zip(nombres, precios, stock, lista_categorias), columns=['nombre_producto', 'precio', 'stock', 'id_categoria'])    
df_productos = df_productos.reset_index().rename({'index': 'id_producto'}, axis=1)
df_productos['id_producto'] = df_productos['id_producto'] + 1
df_productos

    id_producto      nombre_producto     precio  stock  id_categoria
0             1                Leche   6.445136    105             1
1             2                Yogur   6.207857    137             1
2             3                Queso   7.783960     52             1
3             4          Mantequilla   2.433183     41             1
4             5                Pollo  10.249431    106             2
5             6         Carne de res   2.615310    475             2
6             7                Cerdo   5.079113    116             2
7             8             Chuletas   2.256076    119             2
8             9              Manzana   8.907087    379             3
9            10               Banana   2.796899    408             3
10           11              Naranja   8.642637    500             3
11           12                  Uva   8.152836    131             3
12           13            Zanahoria   2.347095    397             4
13           14               Tomate   5.982700    138             4
14           15              Lechuga   4.989659    199             4
15           16              Cebolla   1.158131    401             4
16           17                 Agua   4.415957    254             5
17           18      Jugo de naranja   8.994806    245             5
18           19             Refresco   9.888601    295             5
19           20              Cerveza   6.194774    396             5
20           21         Papas fritas   7.864921    250             6
21           22            Chocolate   3.554086    400             6
22           23             Galletas   5.047426     97             6
23           24              Chicles   2.124405    484             6
24           25                Velas   7.660686    344             7
25           26   Platos desechables   4.057346    422             7
26           27     Bolsas de basura   5.603922    176             7
27           28                Pilas   4.095979    413             7
28           29           Detergente   4.843336    373             8
29           30        Jabón líquido   0.674148    330             8
30           31             Esponjas   6.856686      6             8
31           32        Desinfectante   9.217801    459             8
32           33               Champú   5.297965    447             9
33           34              Colonia   9.262326    341             9
34           35     Crema hidratante   7.873164    130             9
35           36          Desodorante   1.537251    103             9
36           37  Tierra para macetas   5.792149    268            10
37           38         Fertilizante   6.715852    294            10
38           39             Semillas   6.794064    376            10
39           40             Regadera   4.795184    221            10

In [26]:
insertar_dataframe(df_productos, 'productos')

40

* Clientes

    * id_cliente: valores enteros consecutivos (1, 2, 3...).
    * nombre_cliente: nombres y apellidos ficticios (p. ej. “Carlos López”, “María Gil”).
    * email: podrías generar correos ficticios (p. ej. “carlos.lopez@test.com”).
    * telefono: número de 9 o 10 dígitos (dependiendo del país).
    * direccion: calles y números ficticios (p. ej. “Av. Siempre Viva 742”).

In [27]:
# generar columna cliente
nombre_cliente, apellido_cliente, email, postal, cliente_completo = list(), list(), list(), list(), list()
calles = ("Av. Libertad", "Calle Mayor", "Paseo de la Reforma", "Calle Real", "Av. de la Constitución", "Calle del Sol", "Calle de la Luna", "Calle los Pinos", "Calle de la Paz", "Calle Olivo", "Calle Cedro", "Calle Nogal", "Av. de las Flores", "Paseo del Prado", "Calle del Río", "Av. Central", "Calle Primavera", "Calle Otoño", "Calle Invierno", "Calle Verano", "Calle Granada", "Calle Sevilla", "Calle Córdoba", "Calle Málaga", "Calle Valencia", "Calle Zaragoza", "Calle Alicante", "Av. de los Ángeles", "Calle del Carmen", "Calle San Miguel", "Calle San Juan", "Calle del Pilar", "Calle Santa Teresa", "Calle San Francisco", "Calle de la Sierra", "Calle del Mar", "Av. del Norte", "Av. del Sur", "Calle del Este", "Calle del Oeste", "Calle Diamante", "Calle Esmeralda", "Calle Rubí", "Calle Zafiro", "Calle Ámbar", "Calle Turquesa", "Calle Topacio", "Calle Perla", "Calle Horizonte", "Calle Amanecer")
for _ in range(2000):
    nom = random.choice(nombres)
    nombre_cliente.append(nom)
    ape = random.choice(apellidos)
    apellido_cliente.append(ape)
    email.append((f'{nom}.{ape}@mail.com'))
    postal.append(random.randint(0000, 11900))
    
df_clientes = pd.DataFrame(zip(nombre_cliente, apellido_cliente, email, postal), columns=['first_name', 'last_name', 'email', 'codigo_postal']) 
df_clientes = df_clientes.reset_index().rename({'index': 'id_cliente'}, axis=1)
df_clientes['id_cliente'] = df_clientes['id_cliente'] + 1
df_clientes

,id_cliente,first_name,last_name,email,codigo_postal
0,1,Desinfectante,Ramos,Desinfectante.Ramos@mail.com,7028
1,2,Jugo de naranja,Moreno,Jugo de naranja.Moreno@mail.com,4220
2,3,Leche,García,Leche.García@mail.com,9665
3,4,Carne de res,Serrano,Carne de res.Serrano@mail.com,6357
4,5,Jugo de naranja,Campos,Jugo de naranja.Campos@mail.com,3618
...,...,...,...,...,...
1995,1996,Manzana,Moreno,Manzana.Moreno@mail.com,6856
1996,1997,Desodorante,Cruz,Desodorante.Cruz@mail.com,1260
1997,1998,Mantequilla,Rodríguez,Mantequilla.Rodríguez@mail.com,4033
1998,1999,Champú,Peña,Champú.Peña@mail.com,9518
1999,2000,Champú,López,Champú.López@mail.com,9646

In [28]:
insertar_dataframe(df_clientes, 'clientes')

2000

* Orden
    * id_orden: Valores enteros consecutivos
    * id_cliente: Referencias de los Ids existentes en la tabla Clientes
    * id_empleado: Refeferencias de los Ids existentes en la tabla Empleados
    * fecha_orden: Generar fechas aleatorias o secuenciales
    * metodo_pago: Escoger entre tarjeta o efectivo

In [29]:
# generar columna id_orden
from datetime import timedelta


cliente, emplea, fecha, metodo = list(), list(), list(), list()
fechas = [datetime.datetime(year=2024, month=1, day=1) + timedelta(days=numero) for numero in range(395)]
for _ in range(10000):
    cliente.append(random.choice(df_clientes['id_cliente']))
    emplea.append(random.choice(df_empleados['id_empleado']))
    fecha.append(random.choice(fechas))
    metodo.append(random.choices(['Tarjeta', 'Efectivo'], weights=[0.65, 0.35])[0])

fecha.sort()
df_ordenes = pd.DataFrame(zip(cliente, emplea, fecha, metodo), columns=['id_cliente', 'id_empleado', 'fecha_orden', 'metodo_pago'])

df_ordenes.sort_values('fecha_orden', inplace=True)
df_ordenes = df_ordenes.reset_index().rename({'index': 'id_orden'}, axis=1)
df_ordenes['id_orden'] = df_ordenes['id_orden'] + 1
df_ordenes.sort_values('id_orden', inplace=True)
df_ordenes.head(50)

    id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0          1         303          128  2024-01-01     Tarjeta
16         2        1896          125  2024-01-01     Tarjeta
17         3        1208           95  2024-01-01    Efectivo
22         4         852           99  2024-01-01     Tarjeta
19         5        1174           59  2024-01-01     Tarjeta
20         6        1417          105  2024-01-01     Tarjeta
21         7         364          100  2024-01-01     Tarjeta
28         8         691           66  2024-01-01    Efectivo
23         9        1367           32  2024-01-01     Tarjeta
24        10        1515          122  2024-01-01     Tarjeta
25        11         698           77  2024-01-01    Efectivo
26        12         674          117  2024-01-01     Tarjeta
27        13         621           20  2024-01-01     Tarjeta
15        14        1092           74  2024-01-01     Tarjeta
18        15         689          125  2024-01-01     Tarjeta
13        16        1369           65  2024-01-01    Efectivo
12        17         584            1  2024-01-01    Efectivo
11        18         507           89  2024-01-01    Efectivo
10        19          61           40  2024-01-01     Tarjeta
14        20        1088           59  2024-01-01     Tarjeta
9         21        1950          109  2024-01-01    Efectivo
8         22         276          100  2024-01-01    Efectivo
7         23        1053           86  2024-01-01    Efectivo
6         24         452            3  2024-01-01     Tarjeta
5         25        1410          134  2024-01-01     Tarjeta
4         26        1192          109  2024-01-01     Tarjeta
3         27         367           43  2024-01-01     Tarjeta
2         28        1618          113  2024-01-01     Tarjeta
1         29         787           26  2024-01-01     Tarjeta
48        30         365           57  2024-01-02    Efectivo
47        31         823           78  2024-01-02     Tarjeta
39        32         694           89  2024-01-02     Tarjeta
46        33        1271           18  2024-01-02    Efectivo
45        34         233           57  2024-01-02     Tarjeta
44        35        1523           43  2024-01-02     Tarjeta
43        36         106           92  2024-01-02    Efectivo
42        37         729           91  2024-01-02     Tarjeta
41        38          35          106  2024-01-02    Efectivo
40        39         431           63  2024-01-02     Tarjeta
49        40         115           82  2024-01-02    Efectivo
38        41        1249           90  2024-01-02    Efectivo
29        42        1062           76  2024-01-02     Tarjeta
37        43        1944          140  2024-01-02    Efectivo
36        44        1812           86  2024-01-02     Tarjeta
35        45         375            6  2024-01-02     Tarjeta
34        46        1063           95  2024-01-02     Tarjeta
33        47         518           21  2024-01-02     Tarjeta
32        48        1316          114  2024-01-02     Tarjeta
31        49        1511          117  2024-01-02     Tarjeta
30        50         723           33  2024-01-02     Tarjeta

In [30]:
insertar_dataframe(df_ordenes, 'ordenes')

10000

* Detalles de ordenes
    * id_detalle: Valores enterors consecutivos
    * id_orden: Referencia al Id de alguna orden válida
    * id_producto: Referencia al ID
    * Cantidad: Valores entre 1 y 20 
    * Precio_unitario: Usando en mismo precio está en la tabla productos 
    * Descuento: Valores Decimales bajos

In [31]:
# generar columna id_detalle

orden_completa = list()
productos = df_productos['id_producto']
orden_20 = df_ordenes['id_orden']

for orden in df_ordenes['id_orden']:
    ordenes = orden
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor, 2), round(descuento, 2)])   
    
for orden in range(20000):
    ordenes = random.choice(orden_20)
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor,2), round(descuento, 2)])   
    
df_detalle_orden = pd.DataFrame(orden_completa, columns=['id_orden', 'id_producto', 'cantidad', 'precio_unitario', 'descuento'])

df_detalle_orden = df_detalle_orden.reset_index().rename({'index': 'id_detalle'}, axis=1)
df_detalle_orden['id_detalle'] = df_detalle_orden['id_detalle'] + 1
df_detalle_orden

       id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0               1         1            9         9             8.91       0.03
1               2         2           26        16             4.06       0.24
2               3         3           25        11             7.66       0.22
3               4         4           19         8             9.89       0.08
4               5         5           17         8             4.42       0.12
...           ...       ...          ...       ...              ...        ...
29995       29996      5378           21        12             7.86       0.01
29996       29997       256           23         5             5.05       0.03
29997       29998      3432            7        19             5.08       0.09
29998       29999      1654           29        14             4.84       0.22
29999       30000      4065           26        20             4.06       0.02

[30000 rows x 6 columns]

In [32]:
insertar_dataframe(df_detalle_orden, 'detalle_orden')

30000

## 3.- Consultas SQL

In [33]:
def consultas(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="ADMIN",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

* 1.-Listado de órdenes con detalles de cliente y empleado

    * Muestra el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
    * Utiliza un JOIN entre las tablas ordenes, clientes y empleados

In [34]:
sql = ('SELECT o.id_orden, o.fecha_orden, c.first_name, c.last_name, e.nombre_empleado, o.metodo_pago FROM ordenes o JOIN clientes c ON c.id_cliente = o.id_cliente JOIN empleados e ON e.id_empleado = o.id_empleado ORDER BY o.id_orden;') 
consultas(sql)

[(1,
  datetime.date(2024, 1, 1),
  'Manzana',
  'Guzmán',
  'Adriana Rubio',
  'Tarjeta'),
 (2,
  datetime.date(2024, 1, 1),
  'Yogur',
  'Sánchez',
  'Daniel Serrano',
  'Tarjeta'),
 (3, datetime.date(2024, 1, 1), 'Agua', 'Ortiz', 'Raúl Serrano', 'Efectivo'),
 (4,
  datetime.date(2024, 1, 1),
  'Papas fritas',
  'Delgado',
  'Fernando Castro',
  'Tarjeta'),
 (5,
  datetime.date(2024, 1, 1),
  'Esponjas',
  'Serrano',
  'Julia Fuentes',
  'Tarjeta'),
 (6,
  datetime.date(2024, 1, 1),
  'Chuletas',
  'García',
  'Adriana Navarro',
  'Tarjeta'),
 (7,
  datetime.date(2024, 1, 1),
  'Detergente',
  'Delgado',
  'Ana Velázquez',
  'Tarjeta'),
 (8,
  datetime.date(2024, 1, 1),
  'Manzana',
  'Cabrera',
  'Javier García',
  'Efectivo'),
 (9,
  datetime.date(2024, 1, 1),
  'Platos desechables',
  'Ruiz',
  'Carlos Torres',
  'Tarjeta'),
 (10,
  datetime.date(2024, 1, 1),
  'Galletas',
  'Aguilar',
  'José Ramírez',
  'Tarjeta'),
 (11,
  datetime.date(2024, 1, 1),
  'Refresco',
  'Aguilar',
  'Diana Navarro',
  'Efectivo'),
 (12,
  datetime.date(2024, 1, 1),
  'Tomate',
  'Romero',
  'Luis Esquivel',
  'Tarjeta'),
 (13,
  datetime.date(2024, 1, 1),
  'Uva',
  'Salinas',
  'Isabel Carrillo',
  'Tarjeta'),
 (14, datetime.date(2024, 1, 1), 'Queso', 'Guzmán', 'Hugo Guzmán', 'Tarjeta'),
 (15,
  datetime.date(2024, 1, 1),
  'Semillas',
  'Romero',
  'Daniel Serrano',
  'Tarjeta'),
 (16,
  datetime.date(2024, 1, 1),
  'Naranja',
  'Reyes',
  'Pablo Jiménez',
  'Efectivo'),
 (17,
  datetime.date(2024, 1, 1),
  'Lechuga',
  'Flores',
  'Marta Ortiz',
  'Efectivo'),
 (18,
  datetime.date(2024, 1, 1),
  'Uva',
  'Cortés',
  'Eduardo Flores',
  'Efectivo'),
 (19,
  datetime.date(2024, 1, 1),
  'Cebolla',
  'Vázquez',
  'Ana Fernández',
  'Tarjeta'),
 (20,
  datetime.date(2024, 1, 1),
  'Desinfectante',
  'Aguilar',
  'Julia Fuentes',
  'Tarjeta'),
 (21,
  datetime.date(2024, 1, 1),
  'Pollo',
  'Hernández',
  'Lucía López',
  'Efectivo'),
 (22,
  datetime.date(2024, 1, 1),
  'Carne de res',
  'Castro',
  'Ana Velázquez',
  'Efectivo'),
 (23, datetime.date(2024, 1, 1), 'Velas', 'Ortiz', 'Carla Méndez', 'Efectivo'),
 (24,
  datetime.date(2024, 1, 1),
  'Manzana',
  'Delgado',
  'Diego Méndez',
  'Tarjeta'),
 (25,
  datetime.date(2024, 1, 1),
  'Chuletas',
  'Romero',
  'Paula Ortiz',
  'Tarjeta'),
 (26, datetime.date(2024, 1, 1), 'Manzana', 'Peña', 'Lucía López', 'Tarjeta'),
 (27,
  datetime.date(2024, 1, 1),
  'Semillas',
  'González',
  'Elena Cabrera',
  'Tarjeta'),
 (28,
  datetime.date(2024, 1, 1),
  'Jabón líquido',
  'Méndez',
  'Daniel Ruiz',
  'Tarjeta'),
 (29,
  datetime.date(2024, 1, 1),
  'Jugo de naranja',
  'González',
  'Manuel Ramos',
  'Tarjeta'),
 (30,
  datetime.date(2024, 1, 2),
  'Desodorante',
  'Romero',
  'Carlos Esquivel',
  'Efectivo'),
 (31,
  datetime.date(2024, 1, 2),
  'Platos desechables',
  'Esquivel',
  'Samuel Sánchez',
  'Tarjeta'),
 (32,
  datetime.date(2024, 1, 2),
  'Desinfectante',
  'Cruz',
  'Eduardo Flores',
  'Tarjeta'),
 (33,
  datetime.date(2024, 1, 2),
  'Cerveza',
  'Peña',
  'Raúl González',
  'Efectivo'),
 (34,
  datetime.date(2024, 1, 2),
  'Jabón líquido',
  'Cortés',
  'Carlos Esquivel',
  'Tarjeta'),
 (35,
  datetime.date(2024, 1, 2),
  'Chocolate',
  'Rodríguez',
  'Elena Cabrera',
  'Tarjeta'),
 (36,
  datetime.date(2024, 1, 2),
  'Esponjas',
  'Pérez',
  'Carmen González',
  'Efectivo'),
 (37,
  datetime.date(2024, 1, 2),
  'Refresco',
  'Reyes',
  'Laura Ortiz',
  'Tarjeta'),
 (38,
  datetime.date(2024, 1, 2),
  'Banana',
  'Santos',
  'Luis Salinas',
  'Efectivo'),
 (39,
  datetime.date(2024, 1, 2),
  'Jabón líquido',
  'Chávez',
  'Cristian Díaz',
  'Tarjeta'),
 (40,
  datetime.date(2024, 1, 2),
  'Chicles',
  'Navarro',
  'Lucía Pérez',
  'Efectivo'),
 (41,
  datetime.date(2024, 1, 2),
  'Chicles',
  'Chávez',
  'Jorge Rodríguez',
  'Efectivo'),
 (42, datetime.date(2024, 1, 2), 'Champú', 'Guzmán', 'Laura López', 'Tarjeta'),
 (43,
  datetime.date(2024, 1, 2),
  'Tomate',
  'Hernández',
  'Carmen Guzmán',
  'Efectivo'),
 (44,
  datetime.date(2024, 1, 2),
  'Papas fritas',
  'Reyes',
  'Carla Méndez',
  'Tarjeta'),
 (45,
  datetime.date(2024, 1, 2),
  'Tomate',
  'Paredes',
  'David Rubio',
  'Tarjeta'),
 (46,
  datetime.date(2024, 1, 2),
  'Esponjas',
  'Ruiz',
  'Raúl Serrano',
  'Tarjeta'),
 (47,
  datetime.date(2024, 1, 2),
  'Yogur',
  'Cortés',
  'Carla Cabrera',
  'Tarjeta'),
 (48,
  datetime.date(2024, 1, 2),
  'Manzana',
  'Guzmán',
  'María Castro',
  'Tarjeta'),
 (49,
  datetime.date(2024, 1, 2),
  'Semillas',
  'Cruz',
  'Luis Esquivel',
  'Tarjeta'),
 (50,
  datetime.date(2024, 1, 2),
  'Manzana',
  'Torres',
  'Sara Fernández',
  'Tarjeta'),
 (51,
  datetime.date(2024, 1, 3),
  'Chuletas',
  'Moreno',
  'Carlos Torres',
  'Efectivo'),
 (52,
  datetime.date(2024, 1, 3),
  'Cebolla',
  'Santos',
  'Pablo Jiménez',
  'Efectivo'),
 (53,
  datetime.date(2024, 1, 3),
  'Carne de res',
  'García',
  'Clara Cabrera',
  'Tarjeta'),
 (54, datetime.date(2024, 1, 3), 'Pollo', 'Méndez', 'Sofía Lara', 'Efectivo'),
 (55,
  datetime.date(2024, 1, 3),
  'Zanahoria',
  'Ruiz',
  'Francisco Romero',
  'Tarjeta'),
 (56, datetime.date(2024, 1, 3), 'Manzana', 'Ortiz', 'Carlos Lara', 'Tarjeta'),
 (57,
  datetime.date(2024, 1, 3),
  'Pilas',
  'Fernández',
  'Adriana Guzmán',
  'Tarjeta'),
 (58,
  datetime.date(2024, 1, 3),
  'Tomate',
  'Torres',
  'Ana Velázquez',
  'Tarjeta'),
 (59,
  datetime.date(2024, 1, 3),
  'Chicles',
  'Fernández',
  'Julia Carrillo',
  'Tarjeta'),
 (60,
  datetime.date(2024, 1, 3),
  'Semillas',
  'Esquivel',
  'Diana Peña',
  'Tarjeta'),
 (61,
  datetime.date(2024, 1, 3),
  'Champú',
  'Santos',
  'Carmen González',
  'Tarjeta'),
 (62,
  datetime.date(2024, 1, 3),
  'Jugo de naranja',
  'Ortiz',
  'Samuel Fernández',
  'Tarjeta'),
 (63, datetime.date(2024, 1, 3), 'Uva', 'Esquivel', 'Diana Campos', 'Tarjeta'),
 (64,
  datetime.date(2024, 1, 3),
  'Leche',
  'Pérez',
  'Irene Hernández',
  'Tarjeta'),
 (65,
  datetime.date(2024, 1, 3),
  'Queso',
  'Carrillo',
  'Irene Hernández',
  'Tarjeta'),
 (66,
  datetime.date(2024, 1, 3),
  'Cebolla',
  'Molina',
  'Cristian Rodríguez',
  'Tarjeta'),
 (67, datetime.date(2024, 1, 3), 'Pollo', 'Moreno', 'Mario Torres', 'Tarjeta'),
 (68,
  datetime.date(2024, 1, 3),
  'Cerveza',
  'Cruz',
  'Carmen Guzmán',
  'Efectivo'),
 (69,
  datetime.date(2024, 1, 3),
  'Jabón líquido',
  'Hernández',
  'Irene Molina',
  'Tarjeta'),
 (70,
  datetime.date(2024, 1, 3),
  'Detergente',
  'Hernández',
  'Jorge Rodríguez',
  'Efectivo'),
 (71,
  datetime.date(2024, 1, 3),
  'Mantequilla',
  'Rodríguez',
  'Tomás Rubio',
  'Tarjeta'),
 (72,
  datetime.date(2024, 1, 3),
  'Esponjas',
  'Molina',
  'Irene Martínez',
  'Tarjeta'),
 (73,
  datetime.date(2024, 1, 3),
  'Queso',
  'Moreno',
  'Clara Delgado',
  'Efectivo'),
 (74,
  datetime.date(2024, 1, 3),
  'Papas fritas',
  'Montes',
  'Hugo Díaz',
  'Efectivo'),
 (75,
  datetime.date(2024, 1, 3),
  'Carne de res',
  'Cruz',
  'Raúl López',
  'Efectivo'),
 (76, datetime.date(2024, 1, 3), 'Queso', 'Lara', 'Lucía López', 'Efectivo'),
 (77,
  datetime.date(2024, 1, 3),
  'Tomate',
  'Romero',
  'Eduardo Ortiz',
  'Tarjeta'),
 (78,
  datetime.date(2024, 1, 3),
  'Cerdo',
  'Lara',
  'Ricardo Campos',
  'Efectivo'),
 (79,
  datetime.date(2024, 1, 3),
  'Bolsas de basura',
  'Campos',
  'Eva Santos',
  'Efectivo'),
 (80,
  datetime.date(2024, 1, 4),
  'Lechuga',
  'Sánchez',
  'Adriana Guzmán',
  'Tarjeta'),
 (81,
  datetime.date(2024, 1, 4),
  'Esponjas',
  'Delgado',
  'Irene Hernández',
  'Efectivo'),
 (82,
  datetime.date(2024, 1, 4),
  'Cerveza',
  'Cortés',
  'Francisco Romero',
  'Tarjeta'),
 (83,
  datetime.date(2024, 1, 4),
  'Cerveza',
  'Cortés',
  'Carla Méndez',
  'Tarjeta'),
 (84, datetime.date(2024, 1, 4), 'Cerveza', 'Chávez', 'Sofía Lara', 'Tarjeta'),
 (85, datetime.date(2024, 1, 4), 'Pollo', 'Lara', 'Sara Peña', 'Tarjeta'),
 (86,
  datetime.date(2024, 1, 4),
  'Carne de res',
  'Ortiz',
  'Sara Salinas',
  'Efectivo'),
 (87,
  datetime.date(2024, 1, 4),
  'Banana',
  'Fernández',
  'Clara Salinas',
  'Efectivo'),
 (88,
  datetime.date(2024, 1, 4),
  'Yogur',
  'Ortiz',
  'Pablo Jiménez',
  'Efectivo'),
 (89,
  datetime.date(2024, 1, 4),
  'Semillas',
  'Esquivel',
  'Clara Delgado',
  'Tarjeta'),
 (90,
  datetime.date(2024, 1, 4),
  'Jugo de naranja',
  'García',
  'Daniel Aguilar',
  'Efectivo'),
 (91,
  datetime.date(2024, 1, 4),
  'Tomate',
  'Torres',
  'Jorge Cortés',
  'Efectivo'),
 (92,
  datetime.date(2024, 1, 4),
  'Jugo de naranja',
  'Ramos',
  'Lorena Rodríguez',
  'Tarjeta'),
 (93,
  datetime.date(2024, 1, 4),
  'Cerdo',
  'Sánchez',
  'Tomás Fernández',
  'Tarjeta'),
 (94,
  datetime.date(2024, 1, 4),
  'Naranja',
  'Molina',
  'Lucía López',
  'Tarjeta'),
 (95,
  datetime.date(2024, 1, 4),
  'Galletas',
  'Martínez',
  'Sofía Montes',
  'Tarjeta'),
 (96, datetime.date(2024, 1, 4), 'Esponjas', 'Torres', 'José Cruz', 'Tarjeta'),
 (97,
  datetime.date(2024, 1, 4),
  'Carne de res',
  'Ramos',
  'David Santos',
  'Efectivo'),
 (98,
  datetime.date(2024, 1, 4),
  'Desodorante',
  'Romero',
  'Andrea Santos',
  'Efectivo'),
 (99,
  datetime.date(2024, 1, 4),
  'Esponjas',
  'Cortés',
  'Irene Martínez',
  'Tarjeta'),
 (100,
  datetime.date(2024, 1, 4),
  'Bolsas de basura',
  'Medina',
  'Francisco Romero',
  'Tarjeta'),
 (101,
  datetime.date(2024, 1, 4),
  'Chocolate',
  'Rodríguez',
  'Sara Moreno',
  'Tarjeta'),
 (102,
  datetime.date(2024, 1, 4),
  'Esponjas',
  'Cortés',
  'Andrés Ortiz',
  'Tarjeta'),
 (103,
  datetime.date(2024, 1, 4),
  'Tomate',
  'Ortiz',
  'Elena Guzmán',
  'Tarjeta'),
 (104,
  datetime.date(2024, 1, 4),
  'Zanahoria',
  'Ortiz',
  'Gabriela Reyes',
  'Tarjeta'),
 (105,
  datetime.date(2024, 1, 4),
  'Leche',
  'Ruiz',
  'Francisco Romero',
  'Efectivo'),
 (106,
  datetime.date(2024, 1, 5),
  'Papas fritas',
  'Romero',
  'Laura López',
  'Tarjeta'),
 (107,
  datetime.date(2024, 1, 5),
  'Leche',
  'Cortés',
  'María Castro',
  'Tarjeta'),
 (108,
  datetime.date(2024, 1, 5),
  'Detergente',
  'Carrillo',
  'Samuel Fernández',
  'Tarjeta'),
 (109,
  datetime.date(2024, 1, 5),
  'Yogur',
  'Velázquez',
  'Diana Serrano',
  'Tarjeta'),
 (110,
  datetime.date(2024, 1, 5),
  'Naranja',
  'Molina',
  'Cristian Campos',
  'Efectivo'),
 (111,
  datetime.date(2024, 1, 5),
  'Tierra para macetas',
  'Romero',
  'Diana Romero',
  'Tarjeta'),
 (112,
  datetime.date(2024, 1, 5),
  'Jugo de naranja',
  'Álvarez',
  'Carmen Guzmán',
  'Tarjeta'),
 (113,
  datetime.date(2024, 1, 5),
  'Tierra para macetas',
  'Paredes',
  'Francisco Romero',
  'Tarjeta'),
 (114,
  datetime.date(2024, 1, 5),
  'Zanahoria',
  'Campos',
  'Sara Domínguez',
  'Efectivo'),
 (115,
  datetime.date(2024, 1, 5),
  'Velas',
  'Romero',
  'Paula Ortiz',
  'Efectivo'),
 (116,
  datetime.date(2024, 1, 5),
  'Leche',
  'Martínez',
  'Eduardo Ortiz',
  'Tarjeta'),
 (117,
  datetime.date(2024, 1, 5),
  'Regadera',
  'Rodríguez',
  'Adriana Guzmán',
  'Tarjeta'),
 (118,
  datetime.date(2024, 1, 5),
  'Chuletas',
  'Álvarez',
  'Pablo Jiménez',
  'Efectivo'),
 (119,
  datetime.date(2024, 1, 5),
  'Detergente',
  'Ortiz',
  'Camila Fernández',
  'Tarjeta'),
 (120,
  datetime.date(2024, 1, 5),
  'Detergente',
  'Ortiz',
  'María Martínez',
  'Efectivo'),
 (121,
  datetime.date(2024, 1, 5),
  'Mantequilla',
  'Salinas',
  'Andrea Vázquez',
  'Tarjeta'),
 (122,
  datetime.date(2024, 1, 5),
  'Champú',
  'Aguilar',
  'Ana Velázquez',
  'Tarjeta'),
 (123,
  datetime.date(2024, 1, 5),
  'Jugo de naranja',
  'Lara',
  'Carlos Torres',
  'Tarjeta'),
 (124,
  datetime.date(2024, 1, 5),
  'Tomate',
  'Ortiz',
  'Andrea Santos',
  'Tarjeta'),
 (125,
  datetime.date(2024, 1, 5),
  'Leche',
  'Navarro',
  'Daniel Ramírez',
  'Tarjeta'),
 (126, datetime.date(2024, 1, 6), 'Banana', 'Lara', 'Julia Campos', 'Tarjeta'),
 (127,
  datetime.date(2024, 1, 6),
  'Manzana',
  'Jiménez',
  'Raúl López',
  'Tarjeta'),
 (128,
  datetime.date(2024, 1, 6),
  'Platos desechables',
  'Cruz',
  'Clara Delgado',
  'Tarjeta'),
 (129,
  datetime.date(2024, 1, 6),
  'Cerveza',
  'Jiménez',
  'Francisco García',
  'Efectivo'),
 (130,
  datetime.date(2024, 1, 6),
  'Chuletas',
  'Romero',
  'Laura Ortiz',
  'Tarjeta'),
 (131,
  datetime.date(2024, 1, 6),
  'Galletas',
  'Flores',
  'Ana Guzmán',
  'Efectivo'),
 (132,
  datetime.date(2024, 1, 6),
  'Cebolla',
  'Aguilar',
  'Diana Peña',
  'Tarjeta'),
 (133, datetime.date(2024, 1, 6), 'Chicles', 'López', 'Raúl Reyes', 'Tarjeta'),
 (134,
  datetime.date(2024, 1, 6),
  'Tierra para macetas',
  'Montes',
  'Lucía Pérez',
  'Efectivo'),
 (135,
  datetime.date(2024, 1, 6),
  'Regadera',
  'Cortés',
  'Andrea Santos',
  'Tarjeta'),
 (136,
  datetime.date(2024, 1, 6),
  'Agua',
  'García',
  'Diego Salinas',
  'Efectivo'),
 (137,
  datetime.date(2024, 1, 6),
  'Tomate',
  'Medina',
  'Paula Ortiz',
  'Tarjeta'),
 (138,
  datetime.date(2024, 1, 6),
  'Naranja',
  'Reyes',
  'Diana Romero',
  'Tarjeta'),
 (139,
  datetime.date(2024, 1, 6),
  'Platos desechables',
  'Paredes',
  'Daniel Serrano',
  'Tarjeta'),
 (140,
  datetime.date(2024, 1, 6),
  'Bolsas de basura',
  'Martínez',
  'Samuel González',
  'Efectivo'),
 (141,
  datetime.date(2024, 1, 6),
  'Tierra para macetas',
  'Ortiz',
  'Diego Sánchez',
  'Tarjeta'),
 (142,
  datetime.date(2024, 1, 6),
  'Mantequilla',
  'Pérez',
  'Diana Navarro',
  'Tarjeta'),
 (143,
  datetime.date(2024, 1, 6),
  'Mantequilla',
  'Navarro',
  'Lucía Campos',
  'Tarjeta'),
 (144,
  datetime.date(2024, 1, 6),
  'Semillas',
  'Ortiz',
  'Elena Guzmán',
  'Tarjeta'),
 (145,
  datetime.date(2024, 1, 6),
  'Chicles',
  'Carrillo',
  'Andrés Ortiz',
  'Tarjeta'),
 (146,
  datetime.date(2024, 1, 7),
  'Bolsas de basura',
  'Lara',
  'Carmen González',
  'Efectivo'),
 (147,
  datetime.date(2024, 1, 7),
  'Manzana',
  'Fuentes',
  'Julia Campos',
  'Tarjeta'),
 (148,
  datetime.date(2024, 1, 7),
  'Crema hidratante',
  'Peña',
  'Carla Méndez',
  'Efectivo'),
 (149,
  datetime.date(2024, 1, 7),
  'Tomate',
  'Molina',
  'Carlos Delgado',
  'Tarjeta'),
 (150,
  datetime.date(2024, 1, 7),
  'Detergente',
  'Delgado',
  'Carla Ruiz',
  'Efectivo'),
 (151,
  datetime.date(2024, 1, 7),
  'Champú',
  'Ortiz',
  'Andrea Vázquez',
  'Tarjeta'),
 (152,
  datetime.date(2024, 1, 7),
  'Jugo de naranja',
  'Álvarez',
  'Tomás Fernández',
  'Tarjeta'),
 (153,
  datetime.date(2024, 1, 7),
  'Banana',
  'Cabrera',
  'Laura López',
  'Tarjeta'),
 (154,
  datetime.date(2024, 1, 7),
  'Cebolla',
  'Ramos',
  'Diana Romero',
  'Tarjeta'),
 (155,
  datetime.date(2024, 1, 7),
  'Platos desechables',
  'Rubio',
  'Ricardo Álvarez',
  'Tarjeta'),
 (156,
  datetime.date(2024, 1, 7),
  'Esponjas',
  'Aguilar',
  'Carmen Guzmán',
  'Efectivo'),
 (157,
  datetime.date(2024, 1, 7),
  'Cerveza',
  'Jiménez',
  'Paula Ortiz',
  'Tarjeta'),
 (158,
  datetime.date(2024, 1, 7),
  'Zanahoria',
  'Rodríguez',
  'Raúl López',
  'Efectivo'),
 (159,
  datetime.date(2024, 1, 7),
  'Banana',
  'Molina',
  'Lucía López',
  'Tarjeta'),
 (160,
  datetime.date(2024, 1, 7),
  'Champú',
  'García',
  'Raúl Reyes',
  'Efectivo'),
 (161, datetime.date(2024, 1, 7), 'Colonia', 'Cruz', 'Carlos Lara', 'Tarjeta'),
 (162,
  datetime.date(2024, 1, 7),
  'Queso',
  'Serrano',
  'Francisco Romero',
  'Tarjeta'),
 (163, datetime.date(2024, 1, 7), 'Pollo', 'Díaz', 'Diego Ortiz', 'Tarjeta'),
 (164,
  datetime.date(2024, 1, 7),
  'Regadera',
  'Peña',
  'Hugo Sánchez',
  'Efectivo'),
 (165,
  datetime.date(2024, 1, 7),
  'Champú',
  'Moreno',
  'Ricardo Álvarez',
  'Tarjeta'),
 (166,
  datetime.date(2024, 1, 7),
  'Tomate',
  'Martínez',
  'Pablo Jiménez',
  'Efectivo'),
 (167,
  datetime.date(2024, 1, 7),
  'Desodorante',
  'Cruz',
  'Elena Cabrera',
  'Tarjeta'),
 (168,
  datetime.date(2024, 1, 8),
  'Velas',
  'Peña',
  'Clara Cabrera',
  'Efectivo'),
 (169,
  datetime.date(2024, 1, 8),
  'Detergente',
  'Campos',
  'Julia Fuentes',
  'Tarjeta'),
 (170,
  datetime.date(2024, 1, 8),
  'Queso',
  'Aguilar',
  'Daniel Serrano',
  'Efectivo'),
 (171,
  datetime.date(2024, 1, 8),
  'Semillas',
  'Martínez',
  'Andrés Ortiz',
  'Tarjeta'),
 (172,
  datetime.date(2024, 1, 8),
  'Chuletas',
  'Flores',
  'Clara Álvarez',
  'Tarjeta'),
 (173,
  datetime.date(2024, 1, 8),
  'Colonia',
  'Domínguez',
  'Javier Cruz',
  'Tarjeta'),
 (174,
  datetime.date(2024, 1, 8),
  'Esponjas',
  'Ruiz',
  'Andrea Santos',
  'Tarjeta'),
 (175,
  datetime.date(2024, 1, 8),
  'Leche',
  'Cortés',
  'Raúl González',
  'Tarjeta'),
 (176,
  datetime.date(2024, 1, 8),
  'Leche',
  'Fuentes',
  'Eduardo Ortiz',
  'Efectivo'),
 (177,
  datetime.date(2024, 1, 8),
  'Galletas',
  'López',
  'Gabriela Reyes',
  'Tarjeta'),
 (178,
  datetime.date(2024, 1, 8),
  'Cerdo',
  'Ortiz',
  'Carlos Torres',
  'Efectivo'),
 (179,
  datetime.date(2024, 1, 8),
  'Carne de res',
  'Cruz',
  'Cristian Rodríguez',
  'Efectivo'),
 (180,
  datetime.date(2024, 1, 8),
  'Bolsas de basura',
  'Campos',
  'Daniel Ruiz',
  'Tarjeta'),
 (181,
  datetime.date(2024, 1, 8),
  'Regadera',
  'Guzmán',
  'Adriana Navarro',
  'Tarjeta'),
 (182,
  datetime.date(2024, 1, 8),
  'Desinfectante',
  'Chávez',
  'Clara Álvarez',
  'Tarjeta'),
 (183,
  datetime.date(2024, 1, 8),
  'Cerdo',
  'Castro',
  'Samuel Fernández',
  'Efectivo'),
 (184,
  datetime.date(2024, 1, 8),
  'Tomate',
  'Ramírez',
  'Ana Guzmán',
  'Efectivo'),
 (185,
  datetime.date(2024, 1, 8),
  'Queso',
  'Hernández',
  'Sara Moreno',
  'Efectivo'),
 (186,
  datetime.date(2024, 1, 8),
  'Mantequilla',
  'Torres',
  'Daniel Serrano',
  'Tarjeta'),
 (187,
  datetime.date(2024, 1, 8),
  'Cebolla',
  'Paredes',
  'Francisco Romero',
  'Efectivo'),
 (188,
  datetime.date(2024, 1, 8),
  'Fertilizante',
  'Díaz',
  'Ricardo Campos',
  'Tarjeta'),
 (189,
  datetime.date(2024, 1, 8),
  'Uva',
  'González',
  'Cristian Díaz',
  'Efectivo'),
 (190,
  datetime.date(2024, 1, 9),
  'Manzana',
  'Ortiz',
  'Laura Ortiz',
  'Efectivo'),
 (191, datetime.date(2024, 1, 9), 'Banana', 'Santos', 'Sara Peña', 'Tarjeta'),
 (192,
  datetime.date(2024, 1, 9),
  'Jabón líquido',
  'Hernández',
  'Javier García',
  'Efectivo'),
 (193,
  datetime.date(2024, 1, 9),
  'Carne de res',
  'Reyes',
  'Camila Fernández',
  'Efectivo'),
 (194,
  datetime.date(2024, 1, 9),
  'Detergente',
  'Cruz',
  'Ana Guzmán',
  'Efectivo'),
 (195,
  datetime.date(2024, 1, 9),
  'Refresco',
  'Aguilar',
  'Sara Moreno',
  'Tarjeta'),
 (196,
  datetime.date(2024, 1, 9),
  'Lechuga',
  'Paredes',
  'Raúl López',
  'Tarjeta'),
 (197,
  datetime.date(2024, 1, 9),
  'Jugo de naranja',
  'Delgado',
  'Laura López',
  'Tarjeta'),
 (198,
  datetime.date(2024, 1, 9),
  'Cerdo',
  'Cabrera',
  'Pablo Jiménez',
  'Efectivo'),
 (199,
  datetime.date(2024, 1, 9),
  'Semillas',
  'Sánchez',
  'Laura López',
  'Tarjeta'),
 (200,
  datetime.date(2024, 1, 9),
  'Refresco',
  'Chávez',
  'Carmen González',
  'Tarjeta'),
 (201,
  datetime.date(2024, 1, 9),
  'Champú',
  'Vázquez',
  'Ricardo Campos',
  'Tarjeta'),
 (202,
  datetime.date(2024, 1, 9),
  'Chuletas',
  'Pérez',
  'Carmen González',
  'Efectivo'),
 (203,
  datetime.date(2024, 1, 9),
  'Papas fritas',
  'Delgado',
  'Miguel Flores',
  'Tarjeta'),
 (204,
  datetime.date(2024, 1, 9),
  'Jabón líquido',
  'Rodríguez',
  'Isabel Carrillo',
  'Tarjeta'),
 (205, datetime.date(2024, 1, 9), 'Pollo', 'Pérez', 'Raúl López', 'Efectivo'),
 (206,
  datetime.date(2024, 1, 9),
  'Jugo de naranja',
  'Moreno',
  'Diana Serrano',
  'Efectivo'),
 (207,
  datetime.date(2024, 1, 9),
  'Agua',
  'García',
  'Lorena Rodríguez',
  'Efectivo'),
 (208,
  datetime.date(2024, 1, 9),
  'Galletas',
  'Navarro',
  'Carmen González',
  'Tarjeta'),
 (209,
  datetime.date(2024, 1, 9),
  'Banana',
  'Hernández',
  'Adriana Esquivel',
  'Efectivo'),
 (210,
  datetime.date(2024, 1, 9),
  'Semillas',
  'Medina',
  'Manuel Ramos',
  'Tarjeta'),
 (211,
  datetime.date(2024, 1, 9),
  'Queso',
  'Santos',
  'Sara Salinas',
  'Tarjeta'),
 (212,
  datetime.date(2024, 1, 9),

* 2.- Productos con stock bajo

    * Filtra aquellos productos cuyo stock sea menor a 10.
    * Muestra nombre del producto, categoría y stock.

In [35]:
sql = ('SELECT p.nombre_producto, c.nombre_categoria, p.stock FROM productos p JOIN categorias c ON p.id_categoria = c.id_categoria WHERE p.stock < 10;')
consultas(sql)

[('Esponjas', 'Vinos', 6)]

* 3.-Ventas totales por categoría

    * Muestra el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
    * Realiza el JOIN con detalle_orden, productos y categorias.
    * Utiliza agrupación (GROUP BY).

In [37]:
sql = ('SELECT c.nombre_categoria as categoria, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as ventas FROM categorias c JOIN productos p ON p.id_categoria = c.id_categoria JOIN detalle_orden d ON d.id_producto = p.id_producto GROUP BY c.id_categoria;')
consultas(sql)

[('Lácteos', 183177.56),
 ('Pescados', 167649.91),
 ('Carnes', 223654.87),
 ('Verduras', 113402.88),
 ('Frutas', 232117.31),
 ('Bollería y Pan', 142723.49),
 ('Refrescos', 165615.18),
 ('Vinos', 168907.7),
 ('Alcohol', 188422.02),
 ('Congelados', 190887.71)]

* 4.-Clientes con mayores gastos acumulados


    * Muestra el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
    * Asegúrate de tener en cuenta posibles descuentos (descuento) si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
    * Ordena el resultado de mayor a menor gasto acumulado.

In [38]:
sql = ('SELECT c.first_name as nombre, c.last_name as apellido, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as compras FROM clientes c JOIN ordenes o ON c.id_cliente = o.id_cliente JOIN detalle_orden d ON d.id_orden = o.id_orden GROUP BY c.id_cliente ORDER BY sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) DESC;')
consultas(sql)

[('Semillas', 'Medina', 2862.24),
 ('Desinfectante', 'Méndez', 2803.18),
 ('Leche', 'Carrillo', 2774.45),
 ('Mantequilla', 'Pérez', 2709.77),
 ('Refresco', 'García', 2590.51),
 ('Papas fritas', 'Sánchez', 2570.63),
 ('Carne de res', 'García', 2549.28),
 ('Banana', 'Hernández', 2506.61),
 ('Refresco', 'Moreno', 2473.48),
 ('Chicles', 'Vázquez', 2470.09),
 ('Cerveza', 'Aguilar', 2441.22),
 ('Cerdo', 'González', 2437.66),
 ('Manzana', 'Ortiz', 2427.23),
 ('Jugo de naranja', 'Moreno', 2416.44),
 ('Jugo de naranja', 'Ortiz', 2366.45),
 ('Cebolla', 'Santos', 2365.27),
 ('Pollo', 'Méndez', 2365.2),
 ('Tierra para macetas', 'Navarro', 2347.43),
 ('Yogur', 'Vázquez', 2315.88),
 ('Platos desechables', 'Paredes', 2260.85),
 ('Banana', 'Delgado', 2229.75),
 ('Cebolla', 'Rodríguez', 2219.67),
 ('Carne de res', 'Flores', 2210.13),
 ('Pollo', 'Castro', 2189.6),
 ('Regadera', 'López', 2180.13),
 ('Yogur', 'Lara', 2149.12),
 ('Yogur', 'Ruiz', 2140.76),
 ('Manzana', 'Cabrera', 2108.18),
 ('Cerdo', 'Castro', 2106.47),
 ('Mantequilla', 'Salinas', 2098.3),
 ('Banana', 'García', 2084.59),
 ('Queso', 'Romero', 2076.66),
 ('Detergente', 'Peña', 2065.99),
 ('Tierra para macetas', 'Delgado', 2060.64),
 ('Fertilizante', 'Domínguez', 2054.0),
 ('Queso', 'Ramírez', 2049.61),
 ('Colonia', 'Ruiz', 2041.39),
 ('Pilas', 'Álvarez', 2037.56),
 ('Cebolla', 'Rodríguez', 2033.35),
 ('Champú', 'Ramos', 2030.25),
 ('Cerveza', 'Delgado', 2027.46),
 ('Cebolla', 'Paredes', 2025.72),
 ('Jugo de naranja', 'Montes', 2023.63),
 ('Chuletas', 'Torres', 2013.16),
 ('Detergente', 'Medina', 2000.23),
 ('Detergente', 'Lara', 1987.66),
 ('Chicles', 'Cabrera', 1986.24),
 ('Semillas', 'Cruz', 1981.05),
 ('Papas fritas', 'Torres', 1980.18),
 ('Chicles', 'Jiménez', 1967.55),
 ('Velas', 'Ruiz', 1966.94),
 ('Manzana', 'Moreno', 1961.98),
 ('Chuletas', 'Hernández', 1959.08),
 ('Semillas', 'Martínez', 1953.47),
 ('Manzana', 'González', 1951.27),
 ('Queso', 'Molina', 1948.57),
 ('Champú', 'Reyes', 1916.14),
 ('Pilas', 'Rodríguez', 1911.63),
 ('Tierra para macetas', 'Ortiz', 1907.32),
 ('Semillas', 'Ramírez', 1895.02),
 ('Cebolla', 'López', 1888.94),
 ('Galletas', 'Carrillo', 1886.57),
 ('Colonia', 'Domínguez', 1881.11),
 ('Regadera', 'Montes', 1879.54),
 ('Uva', 'Fuentes', 1879.45),
 ('Pilas', 'Cabrera', 1878.76),
 ('Esponjas', 'Fuentes', 1876.61),
 ('Queso', 'Flores', 1873.14),
 ('Manzana', 'Jiménez', 1868.77),
 ('Champú', 'Álvarez', 1868.76),
 ('Tomate', 'Ramírez', 1868.54),
 ('Cebolla', 'García', 1867.62),
 ('Jugo de naranja', 'González', 1858.05),
 ('Esponjas', 'Ruiz', 1855.43),
 ('Regadera', 'Flores', 1848.31),
 ('Esponjas', 'Pérez', 1846.97),
 ('Refresco', 'Ortiz', 1840.13),
 ('Cebolla', 'Aguilar', 1836.98),
 ('Tomate', 'Navarro', 1831.95),
 ('Jabón líquido', 'Aguilar', 1831.36),
 ('Agua', 'Flores', 1830.41),
 ('Yogur', 'Delgado', 1823.56),
 ('Manzana', 'Pérez', 1822.78),
 ('Cerveza', 'Paredes', 1822.46),
 ('Uva', 'Cortés', 1810.64),
 ('Lechuga', 'Fuentes', 1809.45),
 ('Tomate', 'García', 1807.91),
 ('Desodorante', 'Campos', 1795.83),
 ('Colonia', 'Medina', 1788.41),
 ('Mantequilla', 'Delgado', 1786.0),
 ('Fertilizante', 'Peña', 1785.24),
 ('Banana', 'González', 1784.62),
 ('Naranja', 'Rubio', 1781.38),
 ('Colonia', 'Romero', 1772.32),
 ('Esponjas', 'Peña', 1765.68),
 ('Detergente', 'Chávez', 1764.51),
 ('Mantequilla', 'Sánchez', 1760.37),
 ('Platos desechables', 'Torres', 1760.22),
 ('Jabón líquido', 'Hernández', 1758.36),
 ('Manzana', 'Romero', 1757.88),
 ('Naranja', 'Reyes', 1757.69),
 ('Desodorante', 'Romero', 1754.31),
 ('Zanahoria', 'Romero', 1753.73),
 ('Colonia', 'Molina', 1749.88),
 ('Pollo', 'Serrano', 1748.95),
 ('Detergente', 'Esquivel', 1741.79),
 ('Chicles', 'López', 1740.83),
 ('Tomate', 'Ramos', 1738.97),
 ('Jugo de naranja', 'Sánchez', 1737.3),
 ('Pollo', 'Reyes', 1737.21),
 ('Uva', 'Vázquez', 1727.88),
 ('Galletas', 'López', 1724.74),
 ('Zanahoria', 'Ortiz', 1724.13),
 ('Agua', 'Fuentes', 1722.3),
 ('Queso', 'Ramírez', 1720.91),
 ('Regadera', 'Vázquez', 1720.73),
 ('Tierra para macetas', 'Montes', 1711.46),
 ('Desodorante', 'Torres', 1710.26),
 ('Carne de res', 'Ramírez', 1705.85),
 ('Regadera', 'Peña', 1703.91),
 ('Chocolate', 'Serrano', 1698.58),
 ('Fertilizante', 'Díaz', 1686.41),
 ('Crema hidratante', 'Vázquez', 1683.92),
 ('Jugo de naranja', 'Montes', 1683.83),
 ('Mantequilla', 'Martínez', 1678.28),
 ('Tierra para macetas', 'Fernández', 1677.52),
 ('Crema hidratante', 'Díaz', 1673.22),
 ('Champú', 'Moreno', 1670.9),
 ('Pollo', 'González', 1669.69),
 ('Detergente', 'Ortiz', 1666.87),
 ('Desodorante', 'Hernández', 1665.19),
 ('Galletas', 'Flores', 1664.53),
 ('Refresco', 'Guzmán', 1661.81),
 ('Colonia', 'Reyes', 1657.45),
 ('Tierra para macetas', 'Ramos', 1653.97),
 ('Semillas', 'Ortiz', 1653.35),
 ('Manzana', 'Flores', 1649.84),
 ('Carne de res', 'Vázquez', 1648.55),
 ('Chuletas', 'Montes', 1647.21),
 ('Crema hidratante', 'Esquivel', 1644.85),
 ('Leche', 'Cortés', 1644.01),
 ('Jabón líquido', 'Cortés', 1643.49),
 ('Chocolate', 'Cabrera', 1635.46),
 ('Yogur', 'Cruz', 1631.37),
 ('Tomate', 'Rubio', 1630.36),
 ('Desodorante', 'Sánchez', 1629.01),
 ('Cebolla', 'Álvarez', 1627.79),
 ('Pilas', 'Montes', 1627.61),
 ('Cerdo', 'Montes', 1624.85),
 ('Yogur', 'Flores', 1623.44),
 ('Colonia', 'Navarro', 1616.04),
 ('Pollo', 'Chávez', 1612.06),
 ('Desinfectante', 'Ruiz', 1611.12),
 ('Desinfectante', 'Salinas', 1609.5),
 ('Mantequilla', 'Díaz', 1608.56),
 ('Papas fritas', 'González', 1607.94),
 ('Pollo', 'Jiménez', 1604.68),
 ('Agua', 'Jiménez', 1603.29),
 ('Lechuga', 'Rubio', 1597.78),
 ('Naranja', 'Cruz', 1595.12),
 ('Cebolla', 'Castro', 1593.26),
 ('Agua', 'Vázquez', 1587.61),
 ('Chuletas', 'González', 1587.5),
 ('Fertilizante', 'Campos', 1585.25),
 ('Esponjas', 'Paredes', 1584.92),
 ('Agua', 'Montes', 1581.97),
 ('Desodorante', 'Díaz', 1580.62),
 ('Cerveza', 'Campos', 1577.6),
 ('Mantequilla', 'Navarro', 1576.46),
 ('Leche', 'Rubio', 1574.46),
 ('Papas fritas', 'Romero', 1572.48),
 ('Champú', 'Peña', 1572.45),
 ('Desinfectante', 'Ramírez', 1572.15),
 ('Cerveza', 'Chávez', 1568.7),
 ('Mantequilla', 'Paredes', 1568.69),
 ('Fertilizante', 'Fernández', 1566.47),
 ('Colonia', 'Cabrera', 1561.98),
 ('Lechuga', 'Guzmán', 1561.94),
 ('Bolsas de basura', 'Ruiz', 1561.86),
 ('Naranja', 'Santos', 1561.78),
 ('Colonia', 'Ramírez', 1561.11),
 ('Detergente', 'Montes', 1558.6),
 ('Chicles', 'Chávez', 1551.6),
 ('Naranja', 'Salinas', 1546.56),
 ('Jabón líquido', 'Rodríguez', 1545.71),
 ('Esponjas', 'López', 1544.13),
 ('Manzana', 'Ramírez', 1543.26),
 ('Fertilizante', 'Moreno', 1541.37),
 ('Galletas', 'Ramírez', 1540.49),
 ('Pilas', 'Martínez', 1539.48),
 ('Yogur', 'Velázquez', 1538.32),
 ('Semillas', 'Velázquez', 1535.27),
 ('Desodorante', 'Navarro', 1533.49),
 ('Esponjas', 'Molina', 1533.31),
 ('Esponjas', 'Fernández', 1532.82),
 ('Carne de res', 'Reyes', 1531.43),
 ('Desodorante', 'Rubio', 1530.89),
 ('Chocolate', 'Torres', 1529.67),
 ('Jabón líquido', 'Cortés', 1527.39),
 ('Bolsas de basura', 'Montes', 1526.98),
 ('Fertilizante', 'Fernández', 1526.76),
 ('Banana', 'Santos', 1526.74),
 ('Manzana', 'Delgado', 1521.72),
 ('Semillas', 'Pérez', 1519.32),
 ('Cerveza', 'Cabrera', 1517.6),
 ('Tomate', 'Martínez', 1517.46),
 ('Desodorante', 'Campos', 1517.3),
 ('Cerdo', 'Lara', 1514.08),
 ('Lechuga', 'Guzmán', 1510.66),
 ('Leche', 'Castro', 1508.02),
 ('Jugo de naranja', 'Vázquez', 1506.6),
 ('Leche', 'Domínguez', 1506.56),
 ('Agua', 'Díaz', 1504.18),
 ('Papas fritas', 'Flores', 1500.43),
 ('Pollo', 'Pérez', 1498.79),
 ('Mantequilla', 'Álvarez', 1498.62),
 ('Leche', 'Carrillo', 1495.66),
 ('Jugo de naranja', 'Rodríguez', 1492.72),
 ('Pilas', 'Hernández', 1492.27),
 ('Uva', 'Montes', 1489.18),
 ('Tomate', 'Medina', 1488.39),
 ('Detergente', 'Reyes', 1487.26),
 ('Carne de res', 'Castro', 1484.43),
 ('Chicles', 'Chávez', 1484.04),
 ('Refresco', 'Castro', 1483.99),
 ('Fertilizante', 'Díaz', 1481.95),
 ('Queso', 'Pérez', 1481.1),
 ('Uva', 'Montes', 1480.01),
 ('Agua', 'Méndez', 1479.39),
 ('Semillas', 'Ramos', 1476.68),
 ('Semillas', 'Martínez', 1476.36),
 ('Semillas', 'Sánchez', 1473.97),
 ('Desinfectante', 'Campos', 1472.08),
 ('Galletas', 'Navarro', 1471.22),
 ('Yogur', 'Sánchez', 1468.46),
 ('Manzana', 'Montes', 1467.69),
 ('Uva', 'Guzmán', 1467.27),
 ('Carne de res', 'Flores', 1466.39),
 ('Colonia', 'Guzmán', 1463.31),
 ('Queso', 'Chávez', 1462.59),
 ('Tomate', 'López', 1461.09),
 ('Desinfectante', 'Ruiz', 1460.87),
 ('Pollo', 'López', 1459.94),
 ('Pilas', 'Hernández', 1458.21),
 ('Tomate', 'Molina', 1458.16),
 ('Esponjas', 'Esquivel', 1457.2),
 ('Tomate', 'Ortiz', 1457.0),
 ('Chicles', 'González', 1455.27),
 ('Regadera', 'Hernández', 1453.34),
 ('Lechuga', 'Ruiz', 1450.32),
 ('Agua', 'Molina', 1447.24),
 ('Velas', 'Cruz', 1447.16),
 ('Esponjas', 'Chávez', 1446.44),
 ('Jabón líquido', 'Moreno', 1443.9),
 ('Yogur', 'Salinas', 1443.4),
 ('Refresco', 'Álvarez', 1442.4),
 ('Yogur', 'Reyes', 1440.73),
 ('Mantequilla', 'Navarro', 1440.48),
 ('Velas', 'Ramos', 1438.44),
 ('Queso', 'Rubio', 1436.74),
 ('Chocolate', 'Cortés', 1434.87),
 ('Cerdo', 'Ramírez', 1433.77),
 ('Pilas', 'Reyes', 1433.58),
 ('Pilas', 'Campos', 1433.38),
 ('Crema hidratante', 'Martínez', 1433.14),
 ('Esponjas', 'Torres', 1432.06),
 ('Semillas', 'Santos', 1429.52),
 ('Regadera', 'Ramírez', 1429.18),
 ('Chuletas', 'García', 1427.87),
 ('Manzana', 'Ruiz', 1426.0),
 ('Cebolla', 'Martínez', 1425.22),
 ('Leche', 'Campos', 1420.89),
 ('Naranja', 'Rubio', 1419.57),
 ('Manzana', 'Peña', 1417.12),
 ('Detergente', 'Flores', 1416.64),
 ('Chuletas', 'Romero', 1416.57),
 ('Semillas', 'Guzmán', 1416.31),
 ('Pollo', 'Navarro', 1415.86),
 ('Agua', 'Chávez', 1413.47),
 ('Tierra para macetas', 'Serrano', 1413.3),
 ('Cebolla', 'Ramos', 1412.65),
 ('Cebolla', 'Aguilar', 1412.51),
 ('Chicles', 'Álvarez', 1411.23),
 ('Pilas', 'Molina', 1409.08),
 ('Chuletas', 'Sánchez', 1408.15),
 ('Carne de res', 'Álvarez', 1405.52),
 ('Leche', 'Guzmán', 1404.61),
 ('Semillas', 'Domínguez', 1404.33),
 ('Naranja', 'Aguilar', 1403.36),
 ('Desodorante', 'Moreno', 1399.55),
 ('Banana', 'Lara', 1397.65),
 ('Chocolate', 'López', 1397.55),
 ('Desinfectante', 'Cruz', 1397.13),
 ('Yogur', 'Carrillo', 1394.42),
 ('Chocolate', 'Rodríguez', 1392.28),
 ('Agua', 'Vázquez', 1392.15),
 ('Tomate', 'Rubio', 1391.86),
 ('Cerdo', 'Domínguez', 1386.25),
 ('Tierra para macetas', 'Lara', 1385.66),
 ('Carne de res', 'Ruiz', 1382.05),
 ('Cebolla', 'Ortiz', 1380.87),
 ('Champú', 'Sánchez', 1380.45),
 ('Chuletas', 'Carrillo', 1379.15),
 ('Champú', 'González', 1378.69),
 ('Refresco', 'Montes', 1377.53),
 ('Chocolate', 'Castro', 1377.2),
 ('Desinfectante', 'Cruz', 1376.52),
 ('Tomate', 'Torres', 1374.81),
 ('Platos desechables', 'Medina', 1373.98),
 ('Jugo de naranja', 'Fuentes', 1371.78),
 ('Colonia', 'Cortés', 1371.52),
 ('Platos desechables', 'Guzmán', 1370.62),
 ('Regadera', 'Velázquez', 1370.12),
 ('Bolsas de basura', 'Salinas', 1369.86),
 ('Tierra para macetas', 'Chávez', 1368.94),
 ('Tomate', 'Chávez', 1367.85),
 ('Esponjas', 'Rodríguez', 1367.56),
 ('Desodorante', 'Santos', 1366.24),
 ('Zanahoria', 'Serrano', 1364.24),
 ('Papas fritas', 'Rubio', 1363.83),
 ('Queso', 'Guzmán', 1363.03),
 ('Pollo', 'Esquivel', 1363.02),
 ('Colonia', 'Medina', 1361.64),
 ('Jugo de naranja', 'Moreno', 1358.75),
 ('Champú', 'Rubio', 1356.64),
 ('Banana', 'Rubio', 1354.78),
 ('Manzana', 'Moreno', 1354.51),
 ('Colonia', 'López', 1354.44),
 ('Yogur', 'Romero', 1353.1),
 ('Mantequilla', 'Martínez', 1352.34),
 ('Semillas', 'Aguilar', 1351.73),
 ('Naranja', 'Torres', 1350.51),
 ('Bolsas de basura', 'Aguilar', 1347.56),
 ('Galletas', 'Ortiz', 1346.31),
 ('Desodorante', 'Rubio', 1345.18),
 ('Carne de res', 'Navarro', 1344.83),
 ('Esponjas', 'García', 1344.62),
 ('Fertilizante', 'Cabrera', 1341.83),
 ('Queso', 'Fuentes', 1339.78),
 ('Chicles', 'Moreno', 1338.72),
 ('Chicles', 'Torres', 1337.58),
 ('Refresco', 'Ramos', 1336.81),
 ('Uva', 'Ramos', 1336.73),
 ('Jugo de naranja', 'Álvarez', 1336.66),
 ('Platos desechables', 'Serrano', 1335.92),
 ('Papas fritas', 'Cruz', 1335.37),
 ('Regadera', 'Vázquez', 1335.26),
 ('Carne de res', 'Cruz', 1334.05),
 ('Detergente', 'Cruz', 1333.44),
 ('Carne de res', 'Moreno', 1333.41),
 ('Queso', 'García', 1332.56),
 ('Colonia', 'Montes', 1332.06),
 ('Agua', 'Ortiz', 1330.53),
 ('Jabón líquido', 'Jiménez', 1330.16),
 ('Champú', 'García', 1329.49),
 ('Champú', 'Esquivel', 1328.12),
 ('Jugo de naranja', 'García', 1326.18),
 ('Fertilizante', 'Chávez', 1326.05),
 ('Bolsas de basura', 'González', 1323.71),
 ('Mantequilla', 'Pérez', 1322.11),
 ('Tierra para macetas', 'Vázquez', 1321.89),
 ('Detergente', 'Fernández', 1320.54),
 ('Platos desechables', 'Montes', 1320.38),
 ('Lechuga', 'Velázquez', 1319.65),
 ('Chicles', 'Fernández', 1318.85),
 ('Champú', 'Medina', 1318.18),
 ('Cerveza', 'Serrano', 1317.35),
 ('Champú', 'Flores', 1315.08),
 ('Uva', 'Paredes', 1314.09),
 ('Colonia', 'Cruz', 1313.56),
 ('Banana', 'Montes', 1313.38),
 ('Uva', 'Fuentes', 1312.51),
 ('Chocolate', 'Reyes', 1311.63),
 ('Desinfectante', 'González', 1311.57),
 ('Desinfectante', 'Chávez', 1310.78),
 ('Regadera', 'Ruiz', 1310.62),
 ('Champú', 'García', 1309.4),
 ('Queso', 'Montes', 1309.12),
 ('Pilas', 'Medina', 1307.7),
 ('Tierra para macetas', 'Chávez', 1301.94),
 ('Jugo de naranja', 'Fernández', 1300.75),
 ('Cerveza', 'Reyes', 1300.28),
 ('Detergente', 'Domínguez', 1299.41),
 ('Agua', 'Cruz', 1299.27),
 ('Carne de res', 'Hernández', 1298.55),
 ('Tierra para macetas', 'Romero', 1296.15),
 ('Banana', 'Flores', 1295.89),
 ('Tomate', 'Rubio', 1295.52),
 ('Tierra para macetas', 'Navarro', 1295.23),
 ('Desodorante', 'Reyes', 1294.6),
 ('Chicles', 'Castro', 1294.44),
 ('Naranja', 'Esquivel', 1293.66),
 ('Tierra para macetas', 'Carrillo', 1291.78),
 ('Chuletas', 'Peña', 1290.98),
 ('Banana', 'Cabrera', 1290.18),
 ('Tierra para macetas', 'Ortiz', 1289.9),
 ('Detergente', 'Rodríguez', 1289.57),
 ('Papas fritas', 'Jiménez', 1289.19),
 ('Bolsas de basura', 'Esquivel', 1288.74),
 ('Yogur', 'Rubio', 1288.19),
 ('Jabón líquido', 'Ortiz', 1287.97),
 ('Zanahoria', 'Ruiz', 1283.21),
 ('Tomate', 'Álvarez', 1282.24),
 ('Papas fritas', 'Rodríguez', 1281.63),
 ('Champú', 'Serrano', 1281.57),
 ('Queso', 'García', 1281.35),
 ('Chicles', 'Chávez', 1280.94),
 ('Papas fritas', 'Flores', 1280.74),
 ('Tomate', 'Hernández', 1279.39),
 ('Cerdo', 'Ortiz', 1278.64),
 ('Yogur', 'Cortés', 1277.94),
 ('Galletas', 'Martínez', 1276.88),
 ('Refresco', 'Chávez', 1276.76),
 ('Desodorante', 'Díaz', 1276.57),
 ('Cebolla', 'Esquivel', 1274.07),
 ('Cerdo', 'Salinas', 1273.68),
 ('Queso', 'Montes', 1273.39),
 ('Queso', 'Santos', 1272.16),
 ('Pollo', 'Hernández', 1271.61),
 ('Banana', 'López', 1270.63),
 ('Uva', 'Ruiz', 1270.14),
 ('Papas fritas', 'López', 1269.88),
 ('Velas', 'González', 1269.3),
 ('Mantequilla', 'Paredes', 1269.15),
 ('Chuletas', 'Paredes', 1267.72),
 ('Cebolla', 'Cabrera', 1265.27),
 ('Esponjas', 'Lara', 1265.09),
 ('Chicles', 'Navarro', 1263.26),
 ('Leche', 'Álvarez', 1262.78),
 ('Refresco', 'Sánchez', 1260.83),
 ('Banana', 'Álvarez', 1260.75),
 ('Detergente', 'Ortiz', 1259.7),
 ('Pollo', 'Peña', 1259.2),
 ('Tomate', 'Flores', 1258.87),
 ('Esponjas', 'Cruz', 1253.36),
 ('Jugo de naranja', 'Velázquez', 1252.54),
 ('Leche', 'Fuentes', 1251.63),
 ('Platos desechables', 'Velázquez', 1250.92),
 ('Banana', 'Sánchez', 1250.31),
 ('Tierra para macetas', 'Paredes', 1248.64),
 ('Queso', 'Carrillo', 1243.46),
 ('Detergente', 'Ramos', 1240.37),
 ('Colonia', 'Lara', 1240.21),
 ('Papas fritas', 'Moreno', 1240.0),
 ('Manzana', 'Rodríguez', 1238.96),
 ('Desodorante', 'González', 1238.83),
 ('Zanahoria', 'Rubio', 1236.3),
 ('Yogur', 'Salinas', 1235.03),
 ('Agua', 'Ramírez', 1234.95),
 ('Colonia', 'Esquivel', 1234.33),
 ('Carne de res', 'Ramos', 1233.35),
 ('Detergente', 'Cruz', 1231.58),
 ('Champú', 'Cortés', 1231.34),
 ('Jugo de naranja', 'Sánchez', 1229.87),
 ('Semillas', 'Esquivel', 1229.61),
 ('Manzana', 'Molina', 1229.27),
 ('Cerveza', 'Peña', 1226.99),
 ('Cerveza', 'Esquivel', 1225.29),
 ('Regadera', 'Medina', 1223.74),
 ('Jabón líquido', 'Moreno', 1223.35),
 ('Cebolla', 'Delgado', 1223.03),
 ('Chicles', 'Martínez', 1221.52),
 ('Uva', 'Moreno', 1218.97),
 ('Refresco', 'Navarro', 1217.06),
 ('Queso', 'Aguilar', 1216.95),
 ('Tierra para macetas', 'Montes', 1216.13),
 ('Chuletas', 'Peña', 1214.69),
 ('Cerdo', 'Díaz', 1213.31),
 ('Jugo de naranja', 'Delgado', 1213.18),
 ('Papas fritas', 'López', 1212.48),
 ('Champú', 'Ortiz', 1212.0),
 ('Esponjas', 'Pérez', 1211.74),
 ('Yogur', 'Paredes', 1211.06),
 ('Semillas', 'Ramos', 1210.14),
 ('Esponjas', 'Carrillo', 1209.38),
 ('Lechuga', 'Fernández', 1208.48),
 ('Regadera', 'Díaz', 1208.24),
 ('Semillas', 'González', 1206.37),
 ('Uva', 'Chávez', 1205.65),
 ('Chuletas', 'Romero', 1204.26),
 ('Carne de res', 'Medina', 1204.06),
 ('Tomate', 'Carrillo', 1201.9),
 ('Zanahoria', 'Ruiz', 1201.34),
 ('Crema hidratante', 'Flores', 1201.12),
 ('Detergente', 'Vázquez', 1200.07),
 ('Esponjas', 'Rodríguez', 1200.03),
 ('Desinfectante', 'Castro', 1199.21),
 ('Platos desechables', 'Pérez', 1198.4),
 ('Fertilizante', 'Lara', 1197.51),
 ('Zanahoria', 'Domínguez', 1197.48),
 ('Manzana', 'Méndez', 1196.56),
 ('Yogur', 'Sánchez', 1196.53),
 ('Jugo de naranja', 'Velázquez', 1195.91),
 ('Cebolla', 'Martínez', 1193.33),
 ('Lechuga', 'Cruz', 1191.17),
 ('Agua', 'Salinas', 1191.15),
 ('Semillas', 'Cruz', 1189.9),
 ('Jugo de naranja', 'González', 1188.39),
 ('Zanahoria', 'Domínguez', 1187.02),
 ('Crema hidratante', 'Torres', 1183.63),
 ('Papas fritas', 'Delgado', 1182.76),
 ('Cerdo', 'Cabrera', 1181.88),
 ('Uva', 'Esquivel', 1181.58),
 ('Bolsas de basura', 'Díaz', 1181.5),
 ('Jabón líquido', 'Hernández', 1180.93),
 ('Regadera', 'Carrillo', 1180.93),
 ('Fertilizante', 'López', 1179.87),
 ('Carne de res', 'Molina', 1179.61),
 ('Bolsas de basura', 'García', 1179.45),
 ('Esponjas', 'Lara', 1178.98),
 ('Crema hidratante', 'Rubio', 1172.38),
 ('Chuletas', 'Fernández', 1171.21),
 ('Velas', 'López', 1169.27),
 ('Galletas', 'Navarro', 1166.68),
 ('Desodorante', 'Esquivel', 1166.26),
 ('Jabón líquido', 'Méndez', 1166.24),
 ('Galletas', 'Velázquez', 1163.67),
 ('Carne de res', 'Jiménez', 1163.5),
 ('Chicles', 'Aguilar', 1163.33),
 ('Zanahoria', 'Jiménez', 1163.21),
 ('Lechuga', 'Díaz', 1161.61),
 ('Papas fritas', 'García', 1161.08),
 ('Fertilizante', 'Cruz', 1160.84),
 ('Regadera', 'Cortés', 1160.15),
 ('Bolsas de basura', 'Navarro', 1154.97),
 ('Naranja', 'Cortés', 1153.98),
 ('Regadera', 'Sánchez', 1153.42),
 ('Agua', 'Lara', 1153.4),
 ('Jugo de naranja', 'Flores', 1151.01),
 ('Carne de res', 'Campos', 1145.49),
 ('Regadera', 'Rubio', 1144.5),
 ('Cerveza', 'Romero', 1143.8),
 ('Queso', 'Ortiz', 1143.05),
 ('Banana', 'Ramírez', 1138.91),
 ('Bolsas de basura', 'Serrano', 1137.44),
 ('Regadera', 'Sánchez', 1136.99),
 ('Champú', 'Guzmán', 1136.96),
 ('Lechuga', 'Peña', 1136.7),
 ('Carne de res', 'Ramírez', 1135.95),
 ('Jugo de naranja', 'Castro', 1135.49),
 ('Tierra para macetas', 'Díaz', 1135.33),
 ('Mantequilla', 'Torres', 1134.76),
 ('Velas', 'Romero', 1134.14),
 ('Yogur', 'Cruz', 1133.81),
 ('Crema hidratante', 'Álvarez', 1133.12),
 ('Mantequilla', 'Sánchez', 1132.83),
 ('Chocolate', 'Lara', 1132.25),
 ('Jabón líquido', 'Martínez', 1131.53),
 ('Cerveza', 'Campos', 1128.84),
 ('Crema hidratante', 'Hernández', 1127.8),
 ('Cebolla', 'Reyes', 1127.15),
 ('Crema hidratante', 'Díaz', 1125.94),
 ('Esponjas', 'Ramos', 1125.57),
 ('Papas fritas', 'Romero', 1125.33),
 ('Uva', 'Salinas', 1124.99),
 ('Bolsas de basura', 'Paredes', 1124.77),
 ('Jabón líquido', 'Serrano', 1124.0),
 ('Yogur', 'Navarro', 1121.35),
 ('Uva', 'Hernández', 1121.3),
 ('Bolsas de basura', 'Díaz', 1121.16),
 ('Cebolla', 'Santos', 1120.71),
 ('Banana', 'Ruiz', 1119.55),
 ('Refresco', 'Fernández', 1119.06),
 ('Agua', 'Álvarez', 1118.9),
 ('Crema hidratante', 'Molina', 1118.65),
 ('Tierra para macetas', 'Peña', 1113.85),
 ('Refresco', 'Serrano', 1113.85),
 ('Champú', 'Velázquez', 1113.18),
 ('Cerdo', 'Sánchez', 1112.33),
 ('Jugo de naranja', 'Jiménez', 1111.87),

* 5.-Empleados y número de órdenes gestionadas

    * Muestra el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
    * Utiliza GROUP BY y COUNT.

In [39]:
sql = ('')
consultas(sql)

Ha ocurrido un error: No result set to fetch from

0

* 6.-Ordenes filtradas por fecha y tienda

    * Muestra todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
    * Incluye datos de la tienda y del cliente.

* 7.-Ranking de productos más vendidos en cada tienda


    * Para cada tienda, muestra los 3 productos más vendidos (en términos de cantidad total).
    * Tendrás que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
    * Usa GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).