## 1.- Crear Base de Datos

* Crear con código SQL una base de datos llamada supermercado.
* Código Python con mysql connector que ejecute el SQL para borrar y generar la base de datos vacía

In [1]:
# Ejercicio 1 - Crear base de datos estudiantes
import mysql.connector as con
def crear_bd(sql):
    try:
       connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="ADMIN",
            database='supermercado'
        )
       cursor = connection.cursor()
       cursor.execute(sql)
       
    except con.Error as error:
      print(f"Ha ocurrido un error: {error}") 
      if connection:
         connection.rollback()
         return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

In [2]:
sql = "DROP DATABASE IF EXISTS supermercado; CREATE DATABASE IF NOT EXISTS supermercado;"

In [3]:
crear_bd(sql)

# Tablas SQL

* Tiendas

   * id_tienda (PRIMARY KEY)
   * nombre_tienda
   * direccion
   * ciudad

In [4]:
sql = "CREATE TABLE IF NOT EXISTS tiendas (id_tienda INT AUTO_INCREMENT PRIMARY KEY, nombre_tienda VARCHAR(100) NOT NULL, dirección VARCHAR(80), ciudad VARCHAR(50) NOT NULL);"

In [5]:
crear_bd(sql)

* Empleados
    * id_empleado (PRIMARY KEY)
    * nombre_empleado
    * puesto (ej.: Cajero, Gerente, Reponedor)
    * id_tienda (FOREIGN KEY que hace referencia a tiendas.id_tienda)

In [6]:
sql = "CREATE TABLE IF NOT EXISTS empleados (id_empleado INT AUTO_INCREMENT PRIMARY KEY, nombre_empleado VARCHAR(100) NOT NULL, puesto VARCHAR(60), id_tienda INT NOT NULL, FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda) ON DELETE CASCADE);"

In [7]:
crear_bd(sql)

* Categorias
    * id_categoria (PRIMARY KEY)
    * nombre_categoria

In [8]:
sql = "CREATE TABLE IF NOT EXISTS categorias (id_categoria INT AUTO_INCREMENT PRIMARY KEY, nombre_categoria VARCHAR(60));"

In [9]:
crear_bd(sql)

* Productos
    * id_producto (PRIMARY KEY)
    * nombre_producto
    * precio
    * stock
    * id_categoria (FOREIGN KEY que hace referencia a categorias.id_categoria)

In [10]:
sql = "CREATE TABLE IF NOT EXISTS productos (id_producto INT AUTO_INCREMENT PRIMARY KEY, nombre_producto VARCHAR(70), precio FLOAT(8,2), stock INT, id_categoria INT NOT NULL, FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria));"

In [11]:
crear_bd(sql)

* Clientes
    * id_cliente (PRIMARY KEY)
    * first_name
    * last_name
    * email
    * codigo_postal

In [12]:
sql = "CREATE TABLE IF NOT EXISTS clientes (id_cliente INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(100), codigo_postal INT);"

In [13]:
crear_bd(sql)

* Ordenes
    * id_orden (PRIMARY KEY)
    * id_cliente (FOREIGN KEY que hace referencia a clientes.id_cliente)
    * id_empleado (FOREIGN KEY que hace referencia a empleados.id_empleado)
    * fecha_orden
    * metodo_pago (una enum que solo admita tres valores Tarjeta, Efectivo)

In [14]:
sql = "CREATE TABLE IF NOT EXISTS ordenes (id_orden INT AUTO_INCREMENT PRIMARY KEY, id_cliente INT, id_empleado INT, fecha_orden DATE, metodo_pago ENUM('Tarjeta', 'Efectivo') DEFAULT 'Efectivo', FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente), FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado));"

In [15]:
crear_bd(sql)

* Detalle_orden
    * id_detalle (PRIMARY KEY)
    * id_orden (FOREIGN KEY que hace referencia a ordenes.id_orden) NOT NULL
    * id_producto (FOREIGN KEY que hace referencia a productos.id_producto) NOT NULL
    * cantidad
    * precio_unitario: mismo precio que en la tabla producto
    * descuento (podría ser NULL si no se aplica)

In [16]:
sql = "CREATE TABLE IF NOT EXISTS detalle_orden (id_detalle INT AUTO_INCREMENT PRIMARY KEY, id_orden INT NOT NULL, id_producto INT NOT NULL, cantidad FLOAT(8,2), precio_unitario FLOAT(8,2), descuento TINYINT, FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden), FOREIGN KEY (id_producto) REFERENCES productos(id_producto));"

In [17]:
crear_bd(sql)

# Tablas

## 2.- Generar datos demo desde Python

In [18]:
def insertar_dataframe(df, table_name):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="ADMIN",
            database='supermercado'
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()] # lista de tuplas con los datos del dataframe

        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

* Tabla Tiendas

In [19]:
import pandas as pd
import random
import datetime

tiendas = ['Tienda Centro','Tienda Norte','Tienda Sur','Tienda Poniente','Tienda Este','Tienda Oeste','Central Tiendas']
tiendas

dirección = ['Avd.Centro,nº1','Calle Norte, nº2','Calle Sur, nº3', 'Avd. Poniente, nº4','Calle Este, nº5','Calle Oeste, nº6', 'Crta.Central, Km10']
   
dirección

# Ciudad

ciudad= ['Almería','Girona','Murcia','Barcelona','Orense','Gijón','Madrid' ] 
ciudad 

# Creamos un DataFrame 

df_tiendas = pd.DataFrame(zip(tiendas, dirección, ciudad),
             columns= ['nombre_tienda', 'dirección', 'ciudad']) # El comando Zip empaqueta todas las variante hemos hecho | y con columns damos nombres a las columnas

# Añadir columna Pk:

df_tiendas = df_tiendas.reset_index().rename({'index': 'id_tienda'}, axis=1)
df_tiendas['id_tienda'] = df_tiendas['id_tienda'] + 1
df_tiendas

   id_tienda    nombre_tienda           dirección     ciudad
0          1    Tienda Centro      Avd.Centro,nº1    Almería
1          2     Tienda Norte    Calle Norte, nº2     Girona
2          3       Tienda Sur      Calle Sur, nº3     Murcia
3          4  Tienda Poniente  Avd. Poniente, nº4  Barcelona
4          5      Tienda Este     Calle Este, nº5     Orense
5          6     Tienda Oeste    Calle Oeste, nº6      Gijón
6          7  Central Tiendas  Crta.Central, Km10     Madrid

In [20]:
insertar_dataframe(df_tiendas, 'tiendas')

7

* Tabla Empleados

In [21]:
# Creamos lista de empleados | Nombre,Apellidos,Función
empleados = list()
nombres = ['Alejandro', 'María', 'Carlos', 'Lucía', 'Fernando', 'Isabel', 'Javier', 'Ana', 'Miguel', 'Sofía', 'José', 'Clara', 'Luis', 'Elena', 'Daniel', 'Marta', 'Andrés', 'Laura', 'Raúl', 'Paula', 'Manuel', 'Sara', 'Pablo', 'Julia', 'Sergio', 'Valeria', 'Tomás', 'Adriana', 'Eduardo', 'Camila', 'Francisco', 'Diana', 'Ricardo', 'Patricia', 'Ángel', 'Carla', 'Diego', 'Irene', 'Samuel', 'Eva', 'David', 'Andrea', 'Hugo', 'Verónica', 'Cristian', 'Gabriela', 'Mario', 'Natalia', 'Jorge', 'Lorena', 'Rubén', 'Carmen']
apellidos = ['García', 'Martínez', 'López', 'Sánchez', 'Pérez', 'González', 'Rodríguez', 'Fernández', 'Hernández', 'Jiménez', 'Ruiz', 'Díaz', 'Moreno', 'Álvarez', 'Romero', 'Torres', 'Vázquez', 'Domínguez', 'Ramos', 'Ramírez', 'Castro', 'Ortiz', 'Rubio', 'Molina', 'Delgado', 'Cruz', 'Flores', 'Navarro', 'Cabrera', 'Campos', 'Peña', 'Aguilar', 'Santos', 'Reyes', 'Méndez', 'Medina', 'Paredes', 'Serrano', 'Cortés', 'Carrillo', 'Ortiz', 'Velázquez', 'Chávez', 'Guzmán', 'Salinas', 'Esquivel', 'Lara', 'Fuentes', 'Montes']
función = ["Cajero", "Reponedor", "Encargado de sección", "Gerente", "Personal de limpieza", "Panadero", "Carnicero", "Pescadero", "Frutero", "Charcutero", "Jefe de turno", "Operador logístico", "Atención al cliente", "Auxiliar de caja", "Encargado de seguridad","Responsable de zona","Jefe de compras","Encargada carnicería","encargado pescadería","Jefe de Limpieza"]
for tienda in df_tiendas['id_tienda']:
    for empleado in range(20):
        nombre_empleado = (random.choice(nombres) + ' ' + random.choice(apellidos))
        puesto = función[empleado]
        id_tienda = tienda
        empleados.append([nombre_empleado, puesto, id_tienda])
        
# Creamos un DataFrame         
df_empleados = pd.DataFrame(empleados, columns=['nombre_empleado', 'puesto', 'id_tienda'])
        
df_empleados = df_empleados.reset_index().rename({'index': 'id_empleado'}, axis=1)
df_empleados['id_empleado'] = df_empleados['id_empleado'] + 1
df_empleados

     id_empleado nombre_empleado                puesto  id_tienda
0              1    Mario Guzmán                Cajero          1
1              2     Irene Ortiz             Reponedor          1
2              3  Adriana Cortés  Encargado de sección          1
3              4      David Lara               Gerente          1
4              5   Laura Aguilar  Personal de limpieza          1
..           ...             ...                   ...        ...
135          136  Carlos Delgado   Responsable de zona          7
136          137    David Castro       Jefe de compras          7
137          138   Daniel Guzmán  Encargada carnicería          7
138          139    Raúl Sánchez  encargado pescadería          7
139          140      Ángel Díaz      Jefe de Limpieza          7

[140 rows x 4 columns]

In [22]:
insertar_dataframe(df_empleados, "empleados")

140

* Tabla Categorías

In [23]:
categorias = ['Lácteos','Pescados','Carnes','Verduras','Frutas','Bollería y Pan','Refrescos','Vinos','Alcohol','Congelados']

df_categorias= pd.DataFrame(categorias,columns= ['nombre_categoria'])

# Añadir columna pk:

df_categorias = df_categorias.reset_index().rename({'index': 'id_categoria'}, axis=1)
df_categorias['id_categoria'] = df_categorias['id_categoria'] + 1
df_categorias

   id_categoria nombre_categoria
0             1          Lácteos
1             2         Pescados
2             3           Carnes
3             4         Verduras
4             5           Frutas
5             6   Bollería y Pan
6             7        Refrescos
7             8            Vinos
8             9          Alcohol
9            10       Congelados

In [24]:
insertar_dataframe(df_categorias, 'categorias')

10

* Productos

    * id_producto: valores enteros consecutivos (1, 2, 3...).
    * nombre_producto: nombres como “Leche Entera”, “Manzana Roja”, “Refresco de Cola”, etc.
    * precio: valores DECIMAL entre 0.50 y 50.00, por ejemplo.
    * stock: valores INT entre 0 y 500 (o el rango que quieras).
    * id_categoria: debe hacer referencia a las categorías que hayas definido (1, 2, 3, etc.).

In [25]:
# Listado de productos

# generar columna id_producto
nombres = ["Leche", "Yogur", "Queso", "Mantequilla", "Pollo", "Carne de res", "Cerdo", "Chuletas", "Manzana", "Banana", "Naranja", "Uva", "Zanahoria", "Tomate", "Lechuga", "Cebolla", "Agua", "Jugo de naranja", "Refresco", "Cerveza", "Papas fritas", "Chocolate", "Galletas", "Chicles", "Velas", "Platos desechables", "Bolsas de basura", "Pilas", "Detergente", "Jabón líquido", "Esponjas", "Desinfectante", "Champú", "Colonia", "Crema hidratante", "Desodorante", "Tierra para macetas", "Fertilizante", "Semillas", "Regadera"]
precios, lista_categorias, stock = list(), list(), list()
cantidad = len(nombres)
for _ in range(cantidad):
    precios.append(random.uniform(0.50, 10.50))
    stock.append(random.randint(0, 500))
for categ in df_categorias['id_categoria']:
    for i in range(4):
        lista_categorias.append(categ)
lista_categorias        
df_productos = pd.DataFrame(zip(nombres, precios, stock, lista_categorias), columns=['nombre_producto', 'precio', 'stock', 'id_categoria'])    
df_productos = df_productos.reset_index().rename({'index': 'id_producto'}, axis=1)
df_productos['id_producto'] = df_productos['id_producto'] + 1
df_productos

    id_producto      nombre_producto     precio  stock  id_categoria
0             1                Leche   8.721590    466             1
1             2                Yogur  10.416025    473             1
2             3                Queso   1.239585    392             1
3             4          Mantequilla   9.487563    381             1
4             5                Pollo   2.292598     46             2
5             6         Carne de res   1.938636     76             2
6             7                Cerdo   4.912155     18             2
7             8             Chuletas   2.185210    353             2
8             9              Manzana   8.674072    240             3
9            10               Banana   2.389311    156             3
10           11              Naranja   5.044126    287             3
11           12                  Uva   1.774004    232             3
12           13            Zanahoria   8.790556     62             4
13           14               Tomate   5.660863    188             4
14           15              Lechuga   5.385882     58             4
15           16              Cebolla   7.074938    474             4
16           17                 Agua   1.568330    275             5
17           18      Jugo de naranja   0.657495     24             5
18           19             Refresco  10.075998    246             5
19           20              Cerveza   9.097374    307             5
20           21         Papas fritas   2.751051    344             6
21           22            Chocolate   1.658155    161             6
22           23             Galletas   7.325983    442             6
23           24              Chicles   7.125372    271             6
24           25                Velas   7.492604     60             7
25           26   Platos desechables   7.433215    265             7
26           27     Bolsas de basura   3.210476     63             7
27           28                Pilas   8.452576    248             7
28           29           Detergente   9.842059    145             8
29           30        Jabón líquido   5.207559    486             8
30           31             Esponjas  10.239464    345             8
31           32        Desinfectante   5.755577    463             8
32           33               Champú   2.434375    106             9
33           34              Colonia   5.608289    236             9
34           35     Crema hidratante  10.177449    386             9
35           36          Desodorante   7.003743     57             9
36           37  Tierra para macetas   8.562235     22            10
37           38         Fertilizante   8.631579    179            10
38           39             Semillas   6.792684    420            10
39           40             Regadera   4.591716    172            10

In [26]:
insertar_dataframe(df_productos, 'productos')

40

* Clientes

    * id_cliente: valores enteros consecutivos (1, 2, 3...).
    * nombre_cliente: nombres y apellidos ficticios (p. ej. “Carlos López”, “María Gil”).
    * email: podrías generar correos ficticios (p. ej. “carlos.lopez@test.com”).
    * telefono: número de 9 o 10 dígitos (dependiendo del país).
    * direccion: calles y números ficticios (p. ej. “Av. Siempre Viva 742”).

In [27]:
# generar columna cliente
nombre_cliente, apellido_cliente, email, postal, cliente_completo = list(), list(), list(), list(), list()
calles = ("Av. Libertad", "Calle Mayor", "Paseo de la Reforma", "Calle Real", "Av. de la Constitución", "Calle del Sol", "Calle de la Luna", "Calle los Pinos", "Calle de la Paz", "Calle Olivo", "Calle Cedro", "Calle Nogal", "Av. de las Flores", "Paseo del Prado", "Calle del Río", "Av. Central", "Calle Primavera", "Calle Otoño", "Calle Invierno", "Calle Verano", "Calle Granada", "Calle Sevilla", "Calle Córdoba", "Calle Málaga", "Calle Valencia", "Calle Zaragoza", "Calle Alicante", "Av. de los Ángeles", "Calle del Carmen", "Calle San Miguel", "Calle San Juan", "Calle del Pilar", "Calle Santa Teresa", "Calle San Francisco", "Calle de la Sierra", "Calle del Mar", "Av. del Norte", "Av. del Sur", "Calle del Este", "Calle del Oeste", "Calle Diamante", "Calle Esmeralda", "Calle Rubí", "Calle Zafiro", "Calle Ámbar", "Calle Turquesa", "Calle Topacio", "Calle Perla", "Calle Horizonte", "Calle Amanecer")
for _ in range(2000):
    nom = random.choice(nombres)
    nombre_cliente.append(nom)
    ape = random.choice(apellidos)
    apellido_cliente.append(ape)
    email.append((f'{nom}.{ape}@mail.com'))
    postal.append(random.randint(0000, 11900))
    
df_clientes = pd.DataFrame(zip(nombre_cliente, apellido_cliente, email, postal), columns=['first_name', 'last_name', 'email', 'codigo_postal']) 
df_clientes = df_clientes.reset_index().rename({'index': 'id_cliente'}, axis=1)
df_clientes['id_cliente'] = df_clientes['id_cliente'] + 1
df_clientes

,id_cliente,first_name,last_name,email,codigo_postal
0,1,Fertilizante,Flores,Fertilizante.Flores@mail.com,3032
1,2,Colonia,Guzmán,Colonia.Guzmán@mail.com,10242
2,3,Papas fritas,Cruz,Papas fritas.Cruz@mail.com,66
3,4,Fertilizante,Fuentes,Fertilizante.Fuentes@mail.com,5890
4,5,Papas fritas,Moreno,Papas fritas.Moreno@mail.com,3774
...,...,...,...,...,...
1995,1996,Chocolate,Ramos,Chocolate.Ramos@mail.com,399
1996,1997,Colonia,Medina,Colonia.Medina@mail.com,5431
1997,1998,Tierra para macetas,Navarro,Tierra para macetas.Navarro@mail.com,6542
1998,1999,Leche,Ramírez,Leche.Ramírez@mail.com,7242
1999,2000,Pollo,Álvarez,Pollo.Álvarez@mail.com,8901

In [28]:
insertar_dataframe(df_clientes, 'clientes')

2000

* Orden
    * id_orden: Valores enteros consecutivos
    * id_cliente: Referencias de los Ids existentes en la tabla Clientes
    * id_empleado: Refeferencias de los Ids existentes en la tabla Empleados
    * fecha_orden: Generar fechas aleatorias o secuenciales
    * metodo_pago: Escoger entre tarjeta o efectivo

In [29]:
# generar columna id_orden
from datetime import timedelta


cliente, emplea, fecha, metodo = list(), list(), list(), list()
fechas = [datetime.datetime(year=2024, month=1, day=1) + timedelta(days=numero) for numero in range(395)]
for _ in range(10000):
    cliente.append(random.choice(df_clientes['id_cliente']))
    emplea.append(random.choice(df_empleados['id_empleado']))
    fecha.append(random.choice(fechas))
    metodo.append(random.choices(['Tarjeta', 'Efectivo'], weights=[0.65, 0.35])[0])

fecha.sort()
df_ordenes = pd.DataFrame(zip(cliente, emplea, fecha, metodo), columns=['id_cliente', 'id_empleado', 'fecha_orden', 'metodo_pago'])

df_ordenes.sort_values('fecha_orden', inplace=True)
df_ordenes = df_ordenes.reset_index().rename({'index': 'id_orden'}, axis=1)
df_ordenes['id_orden'] = df_ordenes['id_orden'] + 1
df_ordenes.sort_values('id_orden', inplace=True)
df_ordenes.head(50)

    id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0          1        1757            5  2024-01-01     Tarjeta
18         2        1358           35  2024-01-01     Tarjeta
19         3         656          124  2024-01-01    Efectivo
25         4         120           30  2024-01-01     Tarjeta
21         5         290           94  2024-01-01     Tarjeta
22         6        1522           44  2024-01-01    Efectivo
23         7         610            5  2024-01-01     Tarjeta
24         8         409           70  2024-01-01     Tarjeta
31         9        1855           12  2024-01-01     Tarjeta
26        10        1022          117  2024-01-01    Efectivo
27        11        1207           53  2024-01-01    Efectivo
28        12         384          117  2024-01-01     Tarjeta
29        13         801          130  2024-01-01     Tarjeta
30        14        1775           39  2024-01-01     Tarjeta
17        15         101           76  2024-01-01     Tarjeta
20        16        1423            4  2024-01-01    Efectivo
15        17        1597           51  2024-01-01     Tarjeta
14        18        1456           13  2024-01-01     Tarjeta
13        19         245           54  2024-01-01     Tarjeta
12        20         725           29  2024-01-01     Tarjeta
11        21         366          116  2024-01-01    Efectivo
16        22        1158          111  2024-01-01     Tarjeta
10        23         245           37  2024-01-01     Tarjeta
9         24        1994           15  2024-01-01    Efectivo
8         25         172          107  2024-01-01     Tarjeta
7         26         405           54  2024-01-01    Efectivo
6         27         219           26  2024-01-01     Tarjeta
5         28        1359           56  2024-01-01    Efectivo
4         29        1365           55  2024-01-01     Tarjeta
3         30         480           91  2024-01-01     Tarjeta
2         31        1310          100  2024-01-01     Tarjeta
1         32        1044           53  2024-01-01    Efectivo
53        33         585          126  2024-01-02     Tarjeta
43        34         387           26  2024-01-02    Efectivo
52        35        1109           27  2024-01-02    Efectivo
51        36        1498           27  2024-01-02    Efectivo
50        37         314           28  2024-01-02     Tarjeta
49        38         305           61  2024-01-02     Tarjeta
48        39        1124           41  2024-01-02    Efectivo
47        40         397          114  2024-01-02    Efectivo
46        41         961           43  2024-01-02    Efectivo
45        42        1459           94  2024-01-02    Efectivo
44        43        1338           37  2024-01-02    Efectivo
54        44        1707           24  2024-01-02     Tarjeta
42        45         526          110  2024-01-02     Tarjeta
40        46         657           89  2024-01-02     Tarjeta
32        47         901           91  2024-01-02     Tarjeta
33        48        1897           53  2024-01-02     Tarjeta
34        49         837           36  2024-01-02     Tarjeta
35        50          26            2  2024-01-02     Tarjeta

In [30]:
insertar_dataframe(df_ordenes, 'ordenes')

10000

* Detalles de ordenes
    * id_detalle: Valores enterors consecutivos
    * id_orden: Referencia al Id de alguna orden válida
    * id_producto: Referencia al ID
    * Cantidad: Valores entre 1 y 20 
    * Precio_unitario: Usando en mismo precio está en la tabla productos 
    * Descuento: Valores Decimales bajos

In [31]:
# generar columna id_detalle

orden_completa = list()
productos = df_productos['id_producto']
orden_20 = df_ordenes['id_orden']

for orden in df_ordenes['id_orden']:
    ordenes = orden
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor, 2), round(descuento, 2)])   
    
for orden in range(20000):
    ordenes = random.choice(orden_20)
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor,2), round(descuento, 2)])   
    
df_detalle_orden = pd.DataFrame(orden_completa, columns=['id_orden', 'id_producto', 'cantidad', 'precio_unitario', 'descuento'])

df_detalle_orden = df_detalle_orden.reset_index().rename({'index': 'id_detalle'}, axis=1)
df_detalle_orden['id_detalle'] = df_detalle_orden['id_detalle'] + 1
df_detalle_orden

       id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0               1         1           12        11             1.77       0.17
1               2         2           13        15             8.79       0.22
2               3         3           28        13             8.45       0.15
3               4         4            8        14             2.19       0.01
4               5         5           35         3            10.18       0.05
...           ...       ...          ...       ...              ...        ...
29995       29996      5283           21        10             2.75       0.16
29996       29997      4004           27        12             3.21       0.01
29997       29998      8316            3        20             1.24       0.21
29998       29999      3784           13        15             8.79       0.11
29999       30000      1195           36        10             7.00       0.07

[30000 rows x 6 columns]

In [32]:
insertar_dataframe(df_detalle_orden, 'detalle_orden')

30000

## 3.- Consultas SQL

In [33]:
def consultas(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="ADMIN",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

* 1.-Listado de órdenes con detalles de cliente y empleado

    * Muestra el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
    * Utiliza un JOIN entre las tablas ordenes, clientes y empleados

In [34]:
sql = ('SELECT o.id_orden, o.fecha_orden, c.first_name, c.last_name, e.nombre_empleado, o.metodo_pago FROM ordenes o JOIN clientes c ON c.id_cliente = o.id_cliente JOIN empleados e ON e.id_empleado = o.id_empleado ORDER BY o.id_orden;') 
consultas(sql)

[(1,
  datetime.date(2024, 1, 1),
  'Colonia',
  'Martínez',
  'Laura Aguilar',
  'Tarjeta'),
 (2,
  datetime.date(2024, 1, 1),
  'Semillas',
  'Cruz',
  'Paula Martínez',
  'Tarjeta'),
 (3,
  datetime.date(2024, 1, 1),
  'Uva',
  'González',
  'Gabriela Cruz',
  'Efectivo'),
 (4,
  datetime.date(2024, 1, 1),
  'Detergente',
  'Martínez',
  'Fernando Pérez',
  'Tarjeta'),
 (5,
  datetime.date(2024, 1, 1),
  'Chocolate',
  'Fernández',
  'Carlos González',
  'Tarjeta'),
 (6, datetime.date(2024, 1, 1), 'Uva', 'Cabrera', 'María García', 'Efectivo'),
 (7,
  datetime.date(2024, 1, 1),
  'Platos desechables',
  'Castro',
  'Laura Aguilar',
  'Tarjeta'),
 (8,
  datetime.date(2024, 1, 1),
  'Mantequilla',
  'Sánchez',
  'Carlos Castro',
  'Tarjeta'),
 (9,
  datetime.date(2024, 1, 1),
  'Manzana',
  'Fernández',
  'Cristian Reyes',
  'Tarjeta'),
 (10, datetime.date(2024, 1, 1), 'Uva', 'Peña', 'Mario Serrano', 'Efectivo'),
 (11,
  datetime.date(2024, 1, 1),
  'Cerveza',
  'Molina',
  'David Peña',
  'Efectivo'),
 (12,
  datetime.date(2024, 1, 1),
  'Bolsas de basura',
  'Ortiz',
  'Mario Serrano',
  'Tarjeta'),
 (13,
  datetime.date(2024, 1, 1),
  'Tierra para macetas',
  'Sánchez',
  'Gabriela Sánchez',
  'Tarjeta'),
 (14,
  datetime.date(2024, 1, 1),
  'Galletas',
  'Cabrera',
  'Diego Carrillo',
  'Tarjeta'),
 (15,
  datetime.date(2024, 1, 1),
  'Tierra para macetas',
  'Cabrera',
  'Gabriela Reyes',
  'Tarjeta'),
 (16,
  datetime.date(2024, 1, 1),
  'Regadera',
  'Ramos',
  'David Lara',
  'Efectivo'),
 (17, datetime.date(2024, 1, 1), 'Leche', 'Romero', 'Clara Torres', 'Tarjeta'),
 (18, datetime.date(2024, 1, 1), 'Queso', 'Santos', 'Jorge Montes', 'Tarjeta'),
 (19,
  datetime.date(2024, 1, 1),
  'Leche',
  'Hernández',
  'Cristian Ortiz',
  'Tarjeta'),
 (20,
  datetime.date(2024, 1, 1),
  'Mantequilla',
  'Peña',
  'Tomás Flores',
  'Tarjeta'),
 (21,
  datetime.date(2024, 1, 1),
  'Cebolla',
  'Cabrera',
  'Cristian Fernández',
  'Efectivo'),
 (22,
  datetime.date(2024, 1, 1),
  'Cerveza',
  'Vázquez',
  'Patricia Santos',
  'Tarjeta'),
 (23,
  datetime.date(2024, 1, 1),
  'Leche',
  'Hernández',
  'Irene Chávez',
  'Tarjeta'),
 (24,
  datetime.date(2024, 1, 1),
  'Galletas',
  'Campos',
  'Ricardo Fernández',
  'Efectivo'),
 (25,
  datetime.date(2024, 1, 1),
  'Bolsas de basura',
  'Medina',
  'Pablo Reyes',
  'Tarjeta'),
 (26,
  datetime.date(2024, 1, 1),
  'Banana',
  'Martínez',
  'Cristian Ortiz',
  'Efectivo'),
 (27,
  datetime.date(2024, 1, 1),
  'Fertilizante',
  'Delgado',
  'Irene Torres',
  'Tarjeta'),
 (28,
  datetime.date(2024, 1, 1),
  'Bolsas de basura',
  'Ortiz',
  'Manuel Méndez',
  'Efectivo'),
 (29,
  datetime.date(2024, 1, 1),
  'Banana',
  'Vázquez',
  'Carla González',
  'Tarjeta'),
 (30,
  datetime.date(2024, 1, 1),
  'Bolsas de basura',
  'Esquivel',
  'Natalia Hernández',
  'Tarjeta'),
 (31, datetime.date(2024, 1, 1), 'Champú', 'Reyes', 'Camila Ruiz', 'Tarjeta'),
 (32, datetime.date(2024, 1, 1), 'Banana', 'Ortiz', 'David Peña', 'Efectivo'),
 (33,
  datetime.date(2024, 1, 2),
  'Platos desechables',
  'Hernández',
  'María Ortiz',
  'Tarjeta'),
 (34,
  datetime.date(2024, 1, 2),
  'Bolsas de basura',
  'González',
  'Irene Torres',
  'Efectivo'),
 (35,
  datetime.date(2024, 1, 2),
  'Chuletas',
  'Delgado',
  'Natalia Díaz',
  'Efectivo'),
 (36,
  datetime.date(2024, 1, 2),
  'Chuletas',
  'Jiménez',
  'Natalia Díaz',
  'Efectivo'),
 (37,
  datetime.date(2024, 1, 2),
  'Chocolate',
  'Hernández',
  'Valeria Domínguez',
  'Tarjeta'),
 (38, datetime.date(2024, 1, 2), 'Agua', 'Cruz', 'Natalia Navarro', 'Tarjeta'),
 (39, datetime.date(2024, 1, 2), 'Yogur', 'Ramos', 'Daniel Lara', 'Efectivo'),
 (40,
  datetime.date(2024, 1, 2),
  'Desinfectante',
  'Serrano',
  'David Castro',
  'Efectivo'),
 (41,
  datetime.date(2024, 1, 2),
  'Cebolla',
  'Romero',
  'Sara Fernández',
  'Efectivo'),
 (42,
  datetime.date(2024, 1, 2),
  'Tomate',
  'Castro',
  'Carlos González',
  'Efectivo'),
 (43,
  datetime.date(2024, 1, 2),
  'Tierra para macetas',
  'Ramírez',
  'Irene Chávez',
  'Efectivo'),
 (44,
  datetime.date(2024, 1, 2),
  'Crema hidratante',
  'Domínguez',
  'Ricardo Ortiz',
  'Tarjeta'),
 (45,
  datetime.date(2024, 1, 2),
  'Chuletas',
  'Ortiz',
  'Paula Cortés',
  'Tarjeta'),
 (46,
  datetime.date(2024, 1, 2),
  'Champú',
  'Pérez',
  'Daniel Sánchez',
  'Tarjeta'),
 (47,
  datetime.date(2024, 1, 2),
  'Bolsas de basura',
  'Santos',
  'Natalia Hernández',
  'Tarjeta'),
 (48, datetime.date(2024, 1, 2), 'Colonia', 'Ortiz', 'David Peña', 'Tarjeta'),
 (49,
  datetime.date(2024, 1, 2),
  'Chuletas',
  'Jiménez',
  'Sofía Campos',
  'Tarjeta'),
 (50,
  datetime.date(2024, 1, 2),
  'Desinfectante',
  'García',
  'Irene Ortiz',
  'Tarjeta'),
 (51, datetime.date(2024, 1, 2), 'Agua', 'Navarro', 'David Lara', 'Tarjeta'),
 (52,
  datetime.date(2024, 1, 2),
  'Colonia',
  'Navarro',
  'Camila Paredes',
  'Tarjeta'),
 (53,
  datetime.date(2024, 1, 2),
  'Tomate',
  'Guzmán',
  'Sergio Rodríguez',
  'Tarjeta'),
 (54,
  datetime.date(2024, 1, 2),
  'Queso',
  'Álvarez',
  'Paula Cortés',
  'Efectivo'),
 (55,
  datetime.date(2024, 1, 2),
  'Tierra para macetas',
  'Rodríguez',
  'Miguel Cabrera',
  'Efectivo'),
 (56,
  datetime.date(2024, 1, 3),
  'Crema hidratante',
  'Chávez',
  'María García',
  'Efectivo'),
 (57,
  datetime.date(2024, 1, 3),
  'Desodorante',
  'Romero',
  'Ángel Molina',
  'Tarjeta'),
 (58,
  datetime.date(2024, 1, 3),
  'Platos desechables',
  'González',
  'Camila Esquivel',
  'Efectivo'),
 (59,
  datetime.date(2024, 1, 3),
  'Cerveza',
  'Navarro',
  'Ana Ortiz',
  'Efectivo'),
 (60,
  datetime.date(2024, 1, 3),
  'Galletas',
  'Campos',
  'Francisco Carrillo',
  'Tarjeta'),
 (61, datetime.date(2024, 1, 3), 'Yogur', 'Ramos', 'David Castro', 'Tarjeta'),
 (62,
  datetime.date(2024, 1, 3),
  'Semillas',
  'Jiménez',
  'Irene Esquivel',
  'Tarjeta'),
 (63,
  datetime.date(2024, 1, 3),
  'Semillas',
  'Medina',
  'Tomás Domínguez',
  'Efectivo'),
 (64,
  datetime.date(2024, 1, 3),
  'Tierra para macetas',
  'Flores',
  'Tomás Flores',
  'Tarjeta'),
 (65,
  datetime.date(2024, 1, 3),
  'Papas fritas',
  'Ramírez',
  'Ana Chávez',
  'Tarjeta'),
 (66,
  datetime.date(2024, 1, 3),
  'Velas',
  'Jiménez',
  'Elena López',
  'Efectivo'),
 (67,
  datetime.date(2024, 1, 3),
  'Papas fritas',
  'Martínez',
  'Manuel Sánchez',
  'Efectivo'),
 (68,
  datetime.date(2024, 1, 3),
  'Cerdo',
  'Ramírez',
  'Irene Chávez',
  'Efectivo'),
 (69,
  datetime.date(2024, 1, 3),
  'Papas fritas',
  'Navarro',
  'Miguel Reyes',
  'Tarjeta'),
 (70,
  datetime.date(2024, 1, 3),
  'Cerdo',
  'Peña',
  'Valeria Domínguez',
  'Efectivo'),
 (71,
  datetime.date(2024, 1, 3),
  'Pilas',
  'Cabrera',
  'Carla González',
  'Tarjeta'),
 (72,
  datetime.date(2024, 1, 3),
  'Chicles',
  'Delgado',
  'Cristian Reyes',
  'Efectivo'),
 (73,
  datetime.date(2024, 1, 3),
  'Papas fritas',
  'Montes',
  'María Velázquez',
  'Tarjeta'),
 (74, datetime.date(2024, 1, 3), 'Banana', 'Ortiz', 'Irene Ortiz', 'Efectivo'),
 (75,
  datetime.date(2024, 1, 3),
  'Semillas',
  'Santos',
  'Mario Serrano',
  'Tarjeta'),
 (76,
  datetime.date(2024, 1, 3),
  'Jugo de naranja',
  'Carrillo',
  'Adriana Cortés',
  'Tarjeta'),
 (77,
  datetime.date(2024, 1, 3),
  'Semillas',
  'Campos',
  'Irene Esquivel',
  'Efectivo'),
 (78,
  datetime.date(2024, 1, 3),
  'Tierra para macetas',
  'Hernández',
  'María Delgado',
  'Tarjeta'),
 (79,
  datetime.date(2024, 1, 3),
  'Queso',
  'Esquivel',
  'Eva Delgado',
  'Efectivo'),
 (80,
  datetime.date(2024, 1, 3),
  'Detergente',
  'Ramírez',
  'Irene Navarro',
  'Efectivo'),
 (81,
  datetime.date(2024, 1, 3),
  'Refresco',
  'López',
  'Laura Sánchez',
  'Tarjeta'),
 (82,
  datetime.date(2024, 1, 3),
  'Desodorante',
  'Lara',
  'Jorge Martínez',
  'Tarjeta'),
 (83,
  datetime.date(2024, 1, 4),
  'Detergente',
  'Velázquez',
  'Laura Aguilar',
  'Tarjeta'),
 (84,
  datetime.date(2024, 1, 4),
  'Desinfectante',
  'Molina',
  'David Lara',
  'Efectivo'),
 (85,
  datetime.date(2024, 1, 4),
  'Banana',
  'Cruz',
  'Cristian Ortiz',
  'Tarjeta'),
 (86, datetime.date(2024, 1, 4), 'Leche', 'Méndez', 'Pablo Reyes', 'Efectivo'),
 (87,
  datetime.date(2024, 1, 4),
  'Papas fritas',
  'Carrillo',
  'Irene Navarro',
  'Tarjeta'),
 (88,
  datetime.date(2024, 1, 4),
  'Velas',
  'Álvarez',
  'Laura Jiménez',
  'Tarjeta'),
 (89,
  datetime.date(2024, 1, 4),
  'Papas fritas',
  'Rodríguez',
  'Diego Lara',
  'Tarjeta'),
 (90,
  datetime.date(2024, 1, 4),
  'Zanahoria',
  'Ortiz',
  'Carla López',
  'Efectivo'),
 (91,
  datetime.date(2024, 1, 4),
  'Semillas',
  'Cruz',
  'Laura Sánchez',
  'Tarjeta'),
 (92,
  datetime.date(2024, 1, 4),
  'Naranja',
  'Romero',
  'Patricia Santos',
  'Tarjeta'),
 (93, datetime.date(2024, 1, 4), 'Agua', 'Ortiz', 'Andrés Montes', 'Tarjeta'),
 (94,
  datetime.date(2024, 1, 4),
  'Uva',
  'Paredes',
  'María Delgado',
  'Efectivo'),
 (95,
  datetime.date(2024, 1, 4),
  'Leche',
  'Rubio',
  'Javier Martínez',
  'Tarjeta'),
 (96,
  datetime.date(2024, 1, 4),
  'Pilas',
  'Salinas',
  'David Castro',
  'Efectivo'),
 (97,
  datetime.date(2024, 1, 4),
  'Agua',
  'Rodríguez',
  'Cristian Fernández',
  'Tarjeta'),
 (98, datetime.date(2024, 1, 4), 'Leche', 'Aguilar', 'Diana Ramos', 'Tarjeta'),
 (99,
  datetime.date(2024, 1, 4),
  'Banana',
  'Medina',
  'Ricardo Fernández',
  'Efectivo'),
 (100,
  datetime.date(2024, 1, 4),
  'Carne de res',
  'Rubio',
  'Pablo Reyes',
  'Tarjeta'),
 (101,
  datetime.date(2024, 1, 4),
  'Bolsas de basura',
  'Flores',
  'Javier Martínez',
  'Tarjeta'),
 (102, datetime.date(2024, 1, 4), 'Uva', 'Ortiz', 'Carmen García', 'Tarjeta'),
 (103,
  datetime.date(2024, 1, 4),
  'Refresco',
  'Fuentes',
  'Miguel Pérez',
  'Efectivo'),
 (104,
  datetime.date(2024, 1, 4),
  'Agua',
  'Montes',
  'Eduardo Cabrera',
  'Efectivo'),
 (105,
  datetime.date(2024, 1, 4),
  'Desodorante',
  'Guzmán',
  'Clara Torres',
  'Efectivo'),
 (106,
  datetime.date(2024, 1, 4),
  'Platos desechables',
  'Domínguez',
  'Sara Fernández',
  'Tarjeta'),
 (107,
  datetime.date(2024, 1, 5),
  'Papas fritas',
  'Ortiz',
  'Camila López',
  'Efectivo'),
 (108,
  datetime.date(2024, 1, 5),
  'Naranja',
  'García',
  'Adriana Velázquez',
  'Efectivo'),
 (109,
  datetime.date(2024, 1, 5),
  'Velas',
  'Carrillo',
  'Irene Esquivel',
  'Efectivo'),
 (110, datetime.date(2024, 1, 5), 'Velas', 'Ruiz', 'David Peña', 'Tarjeta'),
 (111,
  datetime.date(2024, 1, 5),
  'Champú',
  'Álvarez',
  'Paula Martínez',
  'Tarjeta'),
 (112,
  datetime.date(2024, 1, 5),
  'Bolsas de basura',
  'Velázquez',
  'Verónica Jiménez',
  'Tarjeta'),
 (113,
  datetime.date(2024, 1, 5),
  'Colonia',
  'Cortés',
  'Irene Torres',
  'Tarjeta'),
 (114,
  datetime.date(2024, 1, 5),
  'Leche',
  'Reyes',
  'Jorge Martínez',
  'Efectivo'),
 (115,
  datetime.date(2024, 1, 5),
  'Bolsas de basura',
  'Navarro',
  'Sofía Campos',
  'Tarjeta'),
 (116,
  datetime.date(2024, 1, 5),
  'Mantequilla',
  'Romero',
  'Sergio Carrillo',
  'Tarjeta'),
 (117,
  datetime.date(2024, 1, 5),
  'Jugo de naranja',
  'Serrano',
  'Fernando Romero',
  'Tarjeta'),
 (118,
  datetime.date(2024, 1, 5),
  'Carne de res',
  'Méndez',
  'Francisco Martínez',
  'Efectivo'),
 (119,
  datetime.date(2024, 1, 5),
  'Bolsas de basura',
  'Esquivel',
  'Lorena Esquivel',
  'Tarjeta'),
 (120, datetime.date(2024, 1, 5), 'Cerdo', 'Pérez', 'Carmen Ortiz', 'Tarjeta'),
 (121,
  datetime.date(2024, 1, 5),
  'Jabón líquido',
  'Ramos',
  'Ricardo Jiménez',
  'Tarjeta'),
 (122,
  datetime.date(2024, 1, 5),
  'Manzana',
  'Sánchez',
  'Laura Ramírez',
  'Efectivo'),
 (123,
  datetime.date(2024, 1, 5),
  'Chocolate',
  'Lara',
  'Jorge Montes',
  'Tarjeta'),
 (124,
  datetime.date(2024, 1, 5),
  'Chicles',
  'Peña',
  'Samuel González',
  'Efectivo'),
 (125,
  datetime.date(2024, 1, 5),
  'Fertilizante',
  'Aguilar',
  'Eduardo Cabrera',
  'Tarjeta'),
 (126,
  datetime.date(2024, 1, 5),
  'Mantequilla',
  'Domínguez',
  'Laura Jiménez',
  'Efectivo'),
 (127,
  datetime.date(2024, 1, 5),
  'Platos desechables',
  'Salinas',
  'Raúl Carrillo',
  'Tarjeta'),
 (128,
  datetime.date(2024, 1, 5),
  'Papas fritas',
  'Martínez',
  'Laura Jiménez',
  'Efectivo'),
 (129,
  datetime.date(2024, 1, 5),
  'Pollo',
  'García',
  'Francisco Carrillo',
  'Efectivo'),
 (130,
  datetime.date(2024, 1, 5),
  'Leche',
  'Domínguez',
  'Sergio Carrillo',
  'Efectivo'),
 (131,
  datetime.date(2024, 1, 5),
  'Chuletas',
  'Sánchez',
  'Elena López',
  'Tarjeta'),
 (132,
  datetime.date(2024, 1, 5),
  'Pilas',
  'Cabrera',
  'María Delgado',
  'Tarjeta'),
 (133,
  datetime.date(2024, 1, 5),
  'Esponjas',
  'Pérez',
  'Carla López',
  'Tarjeta'),
 (134,
  datetime.date(2024, 1, 6),
  'Colonia',
  'Carrillo',
  'Gabriela Ramírez',
  'Tarjeta'),
 (135,
  datetime.date(2024, 1, 6),
  'Galletas',
  'Pérez',
  'Andrés Molina',
  'Tarjeta'),
 (136,
  datetime.date(2024, 1, 6),
  'Galletas',
  'Campos',
  'Tomás Peña',
  'Tarjeta'),
 (137,
  datetime.date(2024, 1, 6),
  'Semillas',
  'Romero',
  'Paula Serrano',
  'Tarjeta'),
 (138,
  datetime.date(2024, 1, 6),
  'Semillas',
  'Fuentes',
  'Gabriela Sánchez',
  'Tarjeta'),
 (139,
  datetime.date(2024, 1, 6),
  'Uva',
  'Paredes',
  'Miguel Reyes',
  'Efectivo'),
 (140,
  datetime.date(2024, 1, 6),
  'Velas',
  'Aguilar',
  'José González',
  'Tarjeta'),
 (141,
  datetime.date(2024, 1, 6),
  'Mantequilla',
  'Campos',
  'Valeria Méndez',
  'Efectivo'),
 (142,
  datetime.date(2024, 1, 6),
  'Lechuga',
  'Lara',
  'Javier Pérez',
  'Efectivo'),
 (143,
  datetime.date(2024, 1, 6),
  'Refresco',
  'Campos',
  'Lorena Esquivel',
  'Efectivo'),
 (144,
  datetime.date(2024, 1, 6),
  'Yogur',
  'Hernández',
  'Sofía Montes',
  'Tarjeta'),
 (145,
  datetime.date(2024, 1, 6),
  'Desinfectante',
  'Medina',
  'Carmen Serrano',
  'Efectivo'),
 (146,
  datetime.date(2024, 1, 6),
  'Pilas',
  'Domínguez',
  'Laura Sánchez',
  'Tarjeta'),
 (147,
  datetime.date(2024, 1, 6),
  'Velas',
  'Álvarez',
  'Mario Serrano',
  'Tarjeta'),
 (148,
  datetime.date(2024, 1, 6),
  'Banana',
  'Martínez',
  'Irene Torres',
  'Tarjeta'),
 (149, datetime.date(2024, 1, 6), 'Uva', 'González', 'Hugo Montes', 'Tarjeta'),
 (150,
  datetime.date(2024, 1, 6),
  'Zanahoria',
  'Peña',
  'Gabriela Ramírez',
  'Efectivo'),
 (151,
  datetime.date(2024, 1, 6),
  'Semillas',
  'Díaz',
  'Mario Guzmán',
  'Tarjeta'),
 (152, datetime.date(2024, 1, 7), 'Uva', 'Ramírez', 'Julia Santos', 'Tarjeta'),
 (153,
  datetime.date(2024, 1, 7),
  'Semillas',
  'Vázquez',
  'Fernando Pérez',
  'Tarjeta'),
 (154,
  datetime.date(2024, 1, 7),
  'Tomate',
  'Romero',
  'Gabriela Reyes',
  'Tarjeta'),
 (155,
  datetime.date(2024, 1, 7),
  'Cerdo',
  'Méndez',
  'Francisco Martínez',
  'Efectivo'),
 (156,
  datetime.date(2024, 1, 7),
  'Fertilizante',
  'Serrano',
  'Mario Serrano',
  'Efectivo'),
 (157,
  datetime.date(2024, 1, 7),
  'Lechuga',
  'Flores',
  'Carlos Delgado',
  'Efectivo'),
 (158,
  datetime.date(2024, 1, 7),
  'Mantequilla',
  'Fernández',
  'Jorge Jiménez',
  'Tarjeta'),
 (159,
  datetime.date(2024, 1, 7),
  'Papas fritas',
  'Martínez',
  'Sergio Delgado',
  'Tarjeta'),
 (160,
  datetime.date(2024, 1, 7),
  'Lechuga',
  'Vázquez',
  'Laura Aguilar',
  'Tarjeta'),
 (161,
  datetime.date(2024, 1, 7),
  'Refresco',
  'González',
  'Carla González',
  'Efectivo'),
 (162,
  datetime.date(2024, 1, 7),
  'Velas',
  'Romero',
  'Carmen Delgado',
  'Tarjeta'),
 (163,
  datetime.date(2024, 1, 7),
  'Desinfectante',
  'García',
  'Sergio Rodríguez',
  'Efectivo'),
 (164,
  datetime.date(2024, 1, 7),
  'Semillas',
  'Aguilar',
  'Lorena Esquivel',
  'Efectivo'),
 (165,
  datetime.date(2024, 1, 7),
  'Chocolate',
  'González',
  'José Flores',
  'Tarjeta'),
 (166,
  datetime.date(2024, 1, 7),
  'Platos desechables',
  'González',
  'Laura Aguilar',
  'Tarjeta'),
 (167,
  datetime.date(2024, 1, 7),
  'Pilas',
  'Castro',
  'Camila Esquivel',
  'Tarjeta'),
 (168,
  datetime.date(2024, 1, 7),
  'Lechuga',
  'Medina',
  'Eva Delgado',
  'Tarjeta'),
 (169,
  datetime.date(2024, 1, 7),
  'Papas fritas',
  'Guzmán',
  'Cristian Fernández',
  'Efectivo'),
 (170,
  datetime.date(2024, 1, 8),
  'Platos desechables',
  'Cruz',
  'Cristian Cruz',
  'Tarjeta'),
 (171,
  datetime.date(2024, 1, 8),
  'Manzana',
  'Salinas',
  'Jorge Martínez',
  'Tarjeta'),
 (172,
  datetime.date(2024, 1, 8),
  'Manzana',
  'Cruz',
  'Sergio Delgado',
  'Tarjeta'),
 (173,
  datetime.date(2024, 1, 8),
  'Chocolate',
  'Cortés',
  'Daniel Lara',
  'Tarjeta'),
 (174,
  datetime.date(2024, 1, 8),
  'Desinfectante',
  'Fuentes',
  'Francisco Martínez',
  'Tarjeta'),
 (175,
  datetime.date(2024, 1, 8),
  'Cerveza',
  'Pérez',
  'Laura Jiménez',
  'Tarjeta'),
 (176,
  datetime.date(2024, 1, 8),
  'Agua',
  'Santos',
  'Natalia Paredes',
  'Efectivo'),
 (177,
  datetime.date(2024, 1, 8),
  'Detergente',
  'Domínguez',
  'Ángel Carrillo',
  'Efectivo'),
 (178,
  datetime.date(2024, 1, 8),
  'Papas fritas',
  'Ortiz',
  'Natalia Hernández',
  'Tarjeta'),
 (179,
  datetime.date(2024, 1, 8),
  'Fertilizante',
  'Fuentes',
  'Marta Montes',
  'Tarjeta'),
 (180,
  datetime.date(2024, 1, 8),
  'Pilas',
  'Ortiz',
  'Cristian Ortiz',
  'Tarjeta'),
 (181,
  datetime.date(2024, 1, 8),
  'Velas',
  'Cruz',
  'Ricardo Fernández',
  'Tarjeta'),
 (182,
  datetime.date(2024, 1, 8),
  'Mantequilla',
  'Ortiz',
  'Ana Ortiz',
  'Tarjeta'),
 (183,
  datetime.date(2024, 1, 8),
  'Banana',
  'Cruz',
  'Daniel Guzmán',
  'Efectivo'),
 (184,
  datetime.date(2024, 1, 8),
  'Cerveza',
  'Vázquez',
  'Valeria Torres',
  'Tarjeta'),
 (185,
  datetime.date(2024, 1, 8),
  'Queso',
  'Reyes',
  'Natalia Hernández',
  'Tarjeta'),
 (186,
  datetime.date(2024, 1, 8),
  'Colonia',
  'Delgado',
  'Julia Santos',
  'Efectivo'),
 (187,
  datetime.date(2024, 1, 8),
  'Lechuga',
  'Vázquez',
  'Carlos González',
  'Efectivo'),
 (188,
  datetime.date(2024, 1, 8),
  'Desodorante',
  'Ramos',
  'Natalia Navarro',
  'Tarjeta'),
 (189,
  datetime.date(2024, 1, 8),
  'Cerdo',
  'Reyes',
  'Valeria Torres',
  'Efectivo'),
 (190,
  datetime.date(2024, 1, 8),
  'Cerveza',
  'Vázquez',
  'Ángel Carrillo',
  'Tarjeta'),
 (191,
  datetime.date(2024, 1, 8),
  'Cerdo',
  'Álvarez',
  'Paula Serrano',
  'Efectivo'),
 (192,
  datetime.date(2024, 1, 8),
  'Velas',
  'Martínez',
  'Francisco Carrillo',
  'Efectivo'),
 (193,
  datetime.date(2024, 1, 8),
  'Velas',
  'Montes',
  'Raúl Carrillo',
  'Efectivo'),
 (194,
  datetime.date(2024, 1, 8),
  'Manzana',
  'Ramos',
  'Natalia Hernández',
  'Tarjeta'),
 (195,
  datetime.date(2024, 1, 8),
  'Jabón líquido',
  'Esquivel',
  'Irene Esquivel',
  'Tarjeta'),
 (196,
  datetime.date(2024, 1, 8),
  'Platos desechables',
  'Díaz',
  'Ana Ortiz',
  'Tarjeta'),
 (197,
  datetime.date(2024, 1, 8),
  'Desodorante',
  'Pérez',
  'Raúl Sánchez',
  'Tarjeta'),
 (198,
  datetime.date(2024, 1, 8),
  'Cerdo',
  'Ortiz',
  'María Delgado',
  'Tarjeta'),
 (199,
  datetime.date(2024, 1, 8),
  'Papas fritas',
  'Rubio',
  'Sofía Campos',
  'Tarjeta'),
 (200,
  datetime.date(2024, 1, 8),
  'Cebolla',
  'Campos',
  'Carla López',
  'Tarjeta'),
 (201,
  datetime.date(2024, 1, 8),
  'Velas',
  'López',
  'Sara Fernández',
  'Tarjeta'),
 (202, datetime.date(2024, 1, 9), 'Uva', 'Torres', 'David Castro', 'Efectivo'),
 (203,
  datetime.date(2024, 1, 9),
  'Champú',
  'Hernández',
  'Daniel Guzmán',
  'Tarjeta'),
 (204,
  datetime.date(2024, 1, 9),
  'Galletas',
  'Montes',
  'Daniel Cabrera',
  'Tarjeta'),
 (205,
  datetime.date(2024, 1, 9),
  'Fertilizante',
  'Ramírez',
  'Carmen García',
  'Tarjeta'),
 (206,
  datetime.date(2024, 1, 9),
  'Chuletas',
  'Carrillo',
  'Hugo Montes',
  'Efectivo'),
 (207,
  datetime.date(2024, 1, 9),
  'Chuletas',
  'Lara',
  'Mario Serrano',
  'Tarjeta'),
 (208, datetime.date(2024, 1, 9), 'Agua', 'Ortiz', 'Tomás Peña', 'Efectivo'),
 (209, datetime.date(2024, 1, 9), 'Uva', 'Rubio', 'Tomás Flores', 'Efectivo'),

* 2.- Productos con stock bajo

    * Filtra aquellos productos cuyo stock sea menor a 10.
    * Muestra nombre del producto, categoría y stock.

In [35]:
sql = ('SELECT p.nombre_producto, c.nombre_categoria, p.stock FROM productos p JOIN categorias c ON p.id_categoria = c.id_categoria WHERE p.stock < 10;')
consultas(sql)

[]

* 3.-Ventas totales por categoría

    * Muestra el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
    * Realiza el JOIN con detalle_orden, productos y categorias.
    * Utiliza agrupación (GROUP BY).

In [36]:
sql = ('SELECT c.nombre_categoria as categoria, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as ventas FROM categorias c JOIN productos p ON p.id_categoria = c.id_categoria JOIN detalle_orden d ON d.id_producto = p.id_producto GROUP BY c.id_categoria;')
consultas(sql)

[('Carnes', 133396.9),
 ('Verduras', 217190.08),
 ('Refrescos', 206642.67),
 ('Pescados', 90440.2),
 ('Alcohol', 200158.52),
 ('Congelados', 225867.91),
 ('Lácteos', 230800.17),
 ('Frutas', 172432.35),
 ('Bollería y Pan', 146404.7),
 ('Vinos', 254856.44)]

* 4.-Clientes con mayores gastos acumulados


    * Muestra el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
    * Asegúrate de tener en cuenta posibles descuentos (descuento) si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
    * Ordena el resultado de mayor a menor gasto acumulado.

In [37]:
sql = ('SELECT c.first_name as nombre, c.last_name as apellido, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as compras FROM clientes c JOIN ordenes o ON c.id_cliente = o.id_cliente JOIN detalle_orden d ON d.id_orden = o.id_orden GROUP BY c.id_cliente ORDER BY sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) DESC;')
consultas(sql)

[('Cerdo', 'Jiménez', 2979.22),
 ('Pilas', 'Domínguez', 2934.05),
 ('Tierra para macetas', 'Rubio', 2860.61),
 ('Chocolate', 'Rodríguez', 2781.4),
 ('Mantequilla', 'Domínguez', 2707.46),
 ('Fertilizante', 'Ortiz', 2694.12),
 ('Galletas', 'Cortés', 2658.16),
 ('Tierra para macetas', 'Navarro', 2597.72),
 ('Banana', 'García', 2587.74),
 ('Semillas', 'Medina', 2577.9),
 ('Uva', 'López', 2570.9),
 ('Detergente', 'Peña', 2555.82),
 ('Galletas', 'García', 2550.04),
 ('Chicles', 'Flores', 2548.3),
 ('Carne de res', 'Ortiz', 2542.73),
 ('Tomate', 'Castro', 2524.14),
 ('Detergente', 'Martínez', 2496.52),
 ('Chuletas', 'Domínguez', 2495.05),
 ('Refresco', 'López', 2481.41),
 ('Platos desechables', 'Vázquez', 2457.98),
 ('Desodorante', 'Guzmán', 2431.24),
 ('Carne de res', 'Medina', 2424.46),
 ('Cerveza', 'Rodríguez', 2403.49),
 ('Chuletas', 'González', 2402.6),
 ('Champú', 'Montes', 2400.01),
 ('Crema hidratante', 'Domínguez', 2396.32),
 ('Naranja', 'Medina', 2390.5),
 ('Uva', 'González', 2386.11),
 ('Chicles', 'Vázquez', 2371.62),
 ('Semillas', 'Romero', 2352.37),
 ('Velas', 'Jiménez', 2350.82),
 ('Chuletas', 'Esquivel', 2344.79),
 ('Galletas', 'Navarro', 2339.09),
 ('Champú', 'Ramírez', 2329.79),
 ('Uva', 'Ramírez', 2319.29),
 ('Fertilizante', 'Vázquez', 2311.78),
 ('Semillas', 'Fuentes', 2310.39),
 ('Naranja', 'Molina', 2300.49),
 ('Pilas', 'Navarro', 2281.21),
 ('Cerveza', 'Vázquez', 2280.65),
 ('Queso', 'González', 2272.33),
 ('Desinfectante', 'Serrano', 2255.72),
 ('Velas', 'Ortiz', 2253.54),
 ('Queso', 'Campos', 2252.34),
 ('Cerdo', 'Rubio', 2237.33),
 ('Chocolate', 'Hernández', 2232.71),
 ('Chicles', 'Delgado', 2228.51),
 ('Chuletas', 'Carrillo', 2213.39),
 ('Galletas', 'Campos', 2202.67),
 ('Esponjas', 'Navarro', 2201.47),
 ('Desinfectante', 'Molina', 2178.91),
 ('Esponjas', 'Pérez', 2143.44),
 ('Semillas', 'Hernández', 2141.81),
 ('Regadera', 'Moreno', 2127.77),
 ('Zanahoria', 'Ortiz', 2124.19),
 ('Agua', 'Santos', 2109.32),
 ('Papas fritas', 'González', 2102.68),
 ('Velas', 'Reyes', 2098.95),
 ('Pilas', 'Cortés', 2096.01),
 ('Crema hidratante', 'Aguilar', 2092.06),
 ('Naranja', 'Lara', 2092.03),
 ('Esponjas', 'Cruz', 2089.15),
 ('Queso', 'Ramos', 2088.95),
 ('Bolsas de basura', 'Cortés', 2070.77),
 ('Desinfectante', 'Moreno', 2062.11),
 ('Chocolate', 'Ortiz', 2056.53),
 ('Platos desechables', 'Ramírez', 2055.59),
 ('Carne de res', 'Ortiz', 2051.51),
 ('Yogur', 'Ortiz', 2048.82),
 ('Leche', 'Hernández', 2045.18),
 ('Refresco', 'Montes', 2038.98),
 ('Yogur', 'Paredes', 2032.78),
 ('Queso', 'Salinas', 2029.22),
 ('Banana', 'Ruiz', 2027.54),
 ('Desinfectante', 'Flores', 2025.28),
 ('Pollo', 'Lara', 2015.08),
 ('Jabón líquido', 'Fernández', 2003.26),
 ('Banana', 'Medina', 1996.28),
 ('Chocolate', 'Reyes', 1992.66),
 ('Cerdo', 'Santos', 1992.46),
 ('Leche', 'Paredes', 1989.12),
 ('Carne de res', 'Peña', 1982.21),
 ('Chocolate', 'Martínez', 1980.08),
 ('Crema hidratante', 'Cortés', 1978.67),
 ('Agua', 'Hernández', 1977.01),
 ('Papas fritas', 'Álvarez', 1975.4),
 ('Banana', 'Cruz', 1970.95),
 ('Lechuga', 'Medina', 1967.63),
 ('Cebolla', 'Peña', 1960.75),
 ('Bolsas de basura', 'López', 1957.22),
 ('Detergente', 'Aguilar', 1951.25),
 ('Bolsas de basura', 'Torres', 1944.15),
 ('Uva', 'Vázquez', 1939.8),
 ('Lechuga', 'Chávez', 1935.7),
 ('Galletas', 'Medina', 1929.23),
 ('Pilas', 'Campos', 1915.33),
 ('Colonia', 'Navarro', 1904.4),
 ('Pollo', 'García', 1902.98),
 ('Tomate', 'Díaz', 1902.53),
 ('Platos desechables', 'Santos', 1898.69),
 ('Leche', 'Martínez', 1898.09),
 ('Semillas', 'Méndez', 1896.45),
 ('Cerdo', 'González', 1896.45),
 ('Queso', 'Álvarez', 1891.78),
 ('Esponjas', 'Reyes', 1885.0),
 ('Tomate', 'Romero', 1881.93),
 ('Papas fritas', 'Salinas', 1877.44),
 ('Chocolate', 'Hernández', 1876.44),
 ('Colonia', 'Pérez', 1873.17),
 ('Zanahoria', 'Pérez', 1872.14),
 ('Platos desechables', 'Salinas', 1871.96),
 ('Queso', 'Fuentes', 1871.65),
 ('Fertilizante', 'Delgado', 1859.81),
 ('Uva', 'Martínez', 1858.98),
 ('Cerveza', 'Castro', 1856.6),
 ('Tierra para macetas', 'Serrano', 1854.35),
 ('Carne de res', 'Fernández', 1850.15),
 ('Fertilizante', 'Cruz', 1840.61),
 ('Pollo', 'Chávez', 1838.14),
 ('Zanahoria', 'Montes', 1837.57),
 ('Zanahoria', 'Ruiz', 1833.09),
 ('Colonia', 'Torres', 1830.68),
 ('Chuletas', 'Castro', 1827.75),
 ('Lechuga', 'Salinas', 1824.45),
 ('Platos desechables', 'Torres', 1823.96),
 ('Pilas', 'Cabrera', 1823.84),
 ('Jabón líquido', 'Reyes', 1816.29),
 ('Refresco', 'Montes', 1811.65),
 ('Uva', 'González', 1810.58),
 ('Yogur', 'Díaz', 1809.95),
 ('Crema hidratante', 'Cabrera', 1808.71),
 ('Yogur', 'García', 1808.55),
 ('Velas', 'Álvarez', 1806.75),
 ('Tierra para macetas', 'Pérez', 1805.48),
 ('Chuletas', 'Castro', 1802.58),
 ('Tierra para macetas', 'Rodríguez', 1802.51),
 ('Lechuga', 'Medina', 1800.39),
 ('Agua', 'Navarro', 1793.17),
 ('Tomate', 'Serrano', 1790.95),
 ('Leche', 'Rubio', 1786.2),
 ('Papas fritas', 'Martínez', 1784.69),
 ('Leche', 'Montes', 1780.58),
 ('Chocolate', 'Méndez', 1779.66),
 ('Desodorante', 'Moreno', 1777.77),
 ('Fertilizante', 'Peña', 1777.25),
 ('Agua', 'Álvarez', 1775.98),
 ('Chocolate', 'Moreno', 1775.27),
 ('Fertilizante', 'Méndez', 1774.94),
 ('Chocolate', 'Moreno', 1768.64),
 ('Platos desechables', 'Ortiz', 1763.47),
 ('Cebolla', 'Ruiz', 1763.16),
 ('Cebolla', 'Méndez', 1760.58),
 ('Esponjas', 'Ramírez', 1759.92),
 ('Papas fritas', 'Carrillo', 1757.56),
 ('Chuletas', 'Ortiz', 1757.07),
 ('Banana', 'Díaz', 1757.03),
 ('Detergente', 'Jiménez', 1756.47),
 ('Detergente', 'Velázquez', 1755.69),
 ('Colonia', 'Pérez', 1753.26),
 ('Crema hidratante', 'Delgado', 1749.78),
 ('Banana', 'Domínguez', 1749.48),
 ('Esponjas', 'Reyes', 1747.54),
 ('Velas', 'Jiménez', 1743.54),
 ('Papas fritas', 'Guzmán', 1738.75),
 ('Jabón líquido', 'López', 1734.07),
 ('Tomate', 'Carrillo', 1730.83),
 ('Zanahoria', 'Sánchez', 1729.04),
 ('Carne de res', 'Pérez', 1723.62),
 ('Papas fritas', 'Martínez', 1722.02),
 ('Agua', 'Ortiz', 1713.31),
 ('Banana', 'Ortiz', 1712.78),
 ('Bolsas de basura', 'González', 1712.14),
 ('Papas fritas', 'Castro', 1710.71),
 ('Chocolate', 'Rubio', 1706.01),
 ('Fertilizante', 'Navarro', 1705.42),
 ('Desinfectante', 'Romero', 1705.27),
 ('Agua', 'Ramos', 1705.16),
 ('Pollo', 'Moreno', 1701.7),
 ('Cerdo', 'Serrano', 1701.23),
 ('Semillas', 'Ramos', 1699.66),
 ('Platos desechables', 'Romero', 1696.73),
 ('Semillas', 'Aguilar', 1696.7),
 ('Naranja', 'Ruiz', 1692.84),
 ('Crema hidratante', 'Fuentes', 1687.78),
 ('Queso', 'Esquivel', 1684.82),
 ('Esponjas', 'Vázquez', 1684.63),
 ('Queso', 'González', 1684.41),
 ('Champú', 'Paredes', 1683.04),
 ('Chocolate', 'González', 1681.61),
 ('Yogur', 'Molina', 1680.95),
 ('Desodorante', 'Carrillo', 1678.73),
 ('Pilas', 'Carrillo', 1677.94),
 ('Cerdo', 'Rodríguez', 1673.7),
 ('Regadera', 'Peña', 1672.59),
 ('Cerdo', 'Ortiz', 1669.79),
 ('Pollo', 'González', 1668.37),
 ('Galletas', 'Pérez', 1666.76),
 ('Chuletas', 'Carrillo', 1663.7),
 ('Bolsas de basura', 'Santos', 1661.09),
 ('Zanahoria', 'López', 1660.31),
 ('Velas', 'Lara', 1659.78),
 ('Chuletas', 'Reyes', 1653.7),
 ('Esponjas', 'Medina', 1653.42),
 ('Tierra para macetas', 'Fernández', 1653.01),
 ('Fertilizante', 'Moreno', 1650.73),
 ('Manzana', 'Martínez', 1650.2),
 ('Chocolate', 'Chávez', 1641.25),
 ('Crema hidratante', 'Álvarez', 1639.23),
 ('Semillas', 'Jiménez', 1636.4),
 ('Velas', 'Álvarez', 1634.89),
 ('Queso', 'Ramos', 1632.25),
 ('Regadera', 'Vázquez', 1629.53),
 ('Colonia', 'Flores', 1628.81),
 ('Uva', 'Moreno', 1628.4),
 ('Naranja', 'Guzmán', 1621.33),
 ('Refresco', 'Sánchez', 1620.89),
 ('Banana', 'Álvarez', 1619.05),
 ('Chicles', 'Salinas', 1617.89),
 ('Lechuga', 'Serrano', 1611.67),
 ('Mantequilla', 'Paredes', 1608.51),
 ('Tierra para macetas', 'López', 1605.38),
 ('Refresco', 'Reyes', 1605.25),
 ('Cebolla', 'López', 1604.66),
 ('Mantequilla', 'Medina', 1604.48),
 ('Queso', 'Reyes', 1604.37),
 ('Fertilizante', 'López', 1604.03),
 ('Champú', 'Montes', 1602.02),
 ('Chicles', 'Pérez', 1597.66),
 ('Jabón líquido', 'Velázquez', 1595.77),
 ('Yogur', 'Navarro', 1590.35),
 ('Refresco', 'Velázquez', 1590.24),
 ('Champú', 'Navarro', 1589.0),
 ('Galletas', 'Ramos', 1588.79),
 ('Platos desechables', 'Molina', 1588.76),
 ('Desinfectante', 'García', 1587.29),
 ('Agua', 'Domínguez', 1584.88),
 ('Papas fritas', 'Romero', 1580.97),
 ('Leche', 'Reyes', 1580.91),
 ('Carne de res', 'Esquivel', 1580.41),
 ('Uva', 'Torres', 1579.65),
 ('Cebolla', 'Fuentes', 1579.34),
 ('Tomate', 'Díaz', 1578.92),
 ('Refresco', 'Jiménez', 1575.56),
 ('Platos desechables', 'Sánchez', 1574.19),
 ('Champú', 'Ramírez', 1573.6),
 ('Manzana', 'Cruz', 1573.0),
 ('Zanahoria', 'Cabrera', 1569.85),
 ('Regadera', 'Torres', 1569.07),
 ('Regadera', 'Moreno', 1568.94),
 ('Regadera', 'Ortiz', 1568.93),
 ('Manzana', 'Fuentes', 1567.03),
 ('Jabón líquido', 'Flores', 1566.02),
 ('Mantequilla', 'Martínez', 1565.35),
 ('Chocolate', 'González', 1563.72),
 ('Galletas', 'Montes', 1562.35),
 ('Jugo de naranja', 'Martínez', 1560.7),
 ('Colonia', 'Martínez', 1560.19),
 ('Esponjas', 'Romero', 1559.64),
 ('Carne de res', 'Paredes', 1555.02),
 ('Mantequilla', 'Domínguez', 1552.56),
 ('Champú', 'Fuentes', 1552.24),
 ('Desodorante', 'Ruiz', 1550.85),
 ('Manzana', 'Ortiz', 1549.72),
 ('Bolsas de basura', 'Carrillo', 1547.29),
 ('Yogur', 'Esquivel', 1545.59),
 ('Colonia', 'Aguilar', 1541.43),
 ('Cerdo', 'Paredes', 1540.58),
 ('Champú', 'Aguilar', 1539.41),
 ('Naranja', 'Rodríguez', 1538.87),
 ('Colonia', 'Delgado', 1538.33),
 ('Semillas', 'Romero', 1535.92),
 ('Pollo', 'Torres', 1533.98),
 ('Yogur', 'Cruz', 1528.63),
 ('Naranja', 'Reyes', 1525.07),
 ('Velas', 'Lara', 1524.35),
 ('Pilas', 'Romero', 1522.95),
 ('Pollo', 'Cortés', 1522.83),
 ('Papas fritas', 'Castro', 1519.49),
 ('Esponjas', 'Ramírez', 1518.0),
 ('Tierra para macetas', 'Chávez', 1515.71),
 ('Pilas', 'Delgado', 1515.14),
 ('Banana', 'Aguilar', 1513.64),
 ('Detergente', 'González', 1513.54),
 ('Chicles', 'Hernández', 1512.73),
 ('Champú', 'Peña', 1512.01),
 ('Esponjas', 'Campos', 1509.94),
 ('Chuletas', 'Medina', 1508.92),
 ('Tierra para macetas', 'Montes', 1505.02),
 ('Papas fritas', 'Aguilar', 1500.68),
 ('Banana', 'Chávez', 1495.56),
 ('Chocolate', 'Flores', 1491.91),
 ('Fertilizante', 'Ramírez', 1488.32),
 ('Champú', 'Cortés', 1487.76),
 ('Platos desechables', 'Castro', 1487.29),
 ('Papas fritas', 'Serrano', 1486.15),
 ('Detergente', 'Molina', 1485.9),
 ('Crema hidratante', 'Campos', 1485.78),
 ('Queso', 'López', 1485.5),
 ('Carne de res', 'Rubio', 1484.25),
 ('Pilas', 'García', 1483.26),
 ('Papas fritas', 'Martínez', 1483.1),
 ('Pilas', 'Díaz', 1479.85),
 ('Fertilizante', 'Rubio', 1479.06),
 ('Cerveza', 'Domínguez', 1478.3),
 ('Chicles', 'Montes', 1477.0),
 ('Chicles', 'González', 1474.54),
 ('Queso', 'Rodríguez', 1473.94),
 ('Cebolla', 'Peña', 1471.75),
 ('Carne de res', 'Flores', 1469.72),
 ('Pilas', 'Cortés', 1468.88),
 ('Galletas', 'Ramos', 1468.41),
 ('Tierra para macetas', 'Cruz', 1465.22),
 ('Velas', 'Moreno', 1462.55),
 ('Platos desechables', 'Medina', 1458.9),
 ('Zanahoria', 'Hernández', 1458.88),
 ('Lechuga', 'Lara', 1458.68),
 ('Carne de res', 'Hernández', 1456.23),
 ('Desinfectante', 'López', 1455.83),
 ('Refresco', 'Velázquez', 1454.23),
 ('Mantequilla', 'Pérez', 1451.61),
 ('Banana', 'Medina', 1450.99),
 ('Banana', 'Ruiz', 1450.34),
 ('Tomate', 'Hernández', 1449.91),
 ('Desodorante', 'Lara', 1447.92),
 ('Naranja', 'Lara', 1444.49),
 ('Platos desechables', 'González', 1444.29),
 ('Galletas', 'Ortiz', 1443.58),
 ('Galletas', 'Navarro', 1440.74),
 ('Papas fritas', 'Romero', 1440.41),
 ('Esponjas', 'Méndez', 1440.1),
 ('Bolsas de basura', 'Martínez', 1439.65),
 ('Fertilizante', 'Vázquez', 1438.68),
 ('Uva', 'Medina', 1437.73),
 ('Queso', 'Rubio', 1436.11),
 ('Chocolate', 'Salinas', 1435.74),
 ('Fertilizante', 'Cabrera', 1434.77),
 ('Uva', 'Vázquez', 1431.43),
 ('Bolsas de basura', 'Fernández', 1430.72),
 ('Manzana', 'Martínez', 1428.83),
 ('Chuletas', 'Flores', 1424.94),
 ('Desinfectante', 'Martínez', 1422.18),
 ('Manzana', 'Reyes', 1422.14),
 ('Semillas', 'Díaz', 1419.54),
 ('Refresco', 'Ramírez', 1418.99),
 ('Cebolla', 'Paredes', 1418.06),
 ('Mantequilla', 'Peña', 1415.22),
 ('Yogur', 'Ortiz', 1413.62),
 ('Mantequilla', 'Méndez', 1413.17),
 ('Pilas', 'Ortiz', 1410.75),
 ('Chocolate', 'García', 1409.68),
 ('Agua', 'Cruz', 1409.55),
 ('Naranja', 'Jiménez', 1407.32),
 ('Yogur', 'Hernández', 1407.1),
 ('Refresco', 'Salinas', 1406.65),
 ('Lechuga', 'Paredes', 1404.28),
 ('Esponjas', 'Montes', 1403.66),
 ('Platos desechables', 'Lara', 1402.27),
 ('Jugo de naranja', 'Chávez', 1402.02),
 ('Champú', 'Martínez', 1397.55),
 ('Lechuga', 'González', 1396.85),
 ('Mantequilla', 'Díaz', 1396.11),
 ('Chuletas', 'Sánchez', 1393.47),
 ('Leche', 'Cortés', 1393.29),
 ('Naranja', 'García', 1392.98),
 ('Champú', 'Cabrera', 1391.18),
 ('Cebolla', 'Jiménez', 1389.99),
 ('Zanahoria', 'García', 1389.58),
 ('Pilas', 'Díaz', 1389.06),
 ('Semillas', 'Montes', 1388.65),
 ('Uva', 'Salinas', 1387.87),
 ('Refresco', 'Torres', 1387.63),
 ('Colonia', 'Carrillo', 1386.02),
 ('Carne de res', 'Peña', 1384.48),
 ('Mantequilla', 'Fuentes', 1384.48),
 ('Semillas', 'Montes', 1383.16),
 ('Papas fritas', 'Moreno', 1382.01),
 ('Tierra para macetas', 'Ramírez', 1380.73),
 ('Cebolla', 'Martínez', 1374.9),
 ('Pilas', 'Rubio', 1371.49),
 ('Pilas', 'Castro', 1371.01),
 ('Velas', 'López', 1367.26),
 ('Platos desechables', 'Cruz', 1366.3),
 ('Chuletas', 'Ortiz', 1365.89),
 ('Detergente', 'Salinas', 1363.41),
 ('Desinfectante', 'Torres', 1362.46),
 ('Colonia', 'Molina', 1360.83),
 ('Champú', 'López', 1360.61),
 ('Velas', 'Romero', 1359.59),
 ('Detergente', 'Sánchez', 1357.86),
 ('Carne de res', 'Romero', 1356.24),
 ('Mantequilla', 'Hernández', 1354.03),
 ('Pollo', 'López', 1354.02),
 ('Queso', 'Ortiz', 1353.95),
 ('Papas fritas', 'Salinas', 1353.36),
 ('Zanahoria', 'Ruiz', 1352.67),
 ('Leche', 'Romero', 1352.23),
 ('Leche', 'Peña', 1352.13),
 ('Platos desechables', 'Rubio', 1350.84),
 ('Agua', 'Ortiz', 1348.23),
 ('Semillas', 'Cruz', 1345.51),
 ('Semillas', 'López', 1342.36),
 ('Leche', 'García', 1341.63),
 ('Regadera', 'Santos', 1341.04),
 ('Crema hidratante', 'López', 1340.26),
 ('Semillas', 'Cruz', 1339.26),
 ('Chuletas', 'Lara', 1339.02),
 ('Pollo', 'Ruiz', 1338.31),
 ('Lechuga', 'Lara', 1338.19),
 ('Crema hidratante', 'Chávez', 1336.4),
 ('Crema hidratante', 'Montes', 1333.23),
 ('Naranja', 'Esquivel', 1332.41),
 ('Esponjas', 'Rubio', 1331.95),
 ('Regadera', 'Moreno', 1331.28),
 ('Carne de res', 'González', 1330.86),
 ('Crema hidratante', 'Paredes', 1330.63),
 ('Esponjas', 'Carrillo', 1327.81),
 ('Mantequilla', 'Flores', 1327.37),
 ('Agua', 'Vázquez', 1325.76),
 ('Semillas', 'Lara', 1325.58),
 ('Galletas', 'Cabrera', 1325.27),
 ('Leche', 'Paredes', 1323.11),
 ('Chuletas', 'Medina', 1322.95),
 ('Chicles', 'González', 1318.67),
 ('Platos desechables', 'Montes', 1317.15),
 ('Cerveza', 'Ramírez', 1315.88),
 ('Galletas', 'Serrano', 1315.7),
 ('Lechuga', 'Medina', 1315.14),
 ('Banana', 'Martínez', 1314.43),
 ('Papas fritas', 'Guzmán', 1313.44),
 ('Mantequilla', 'Jiménez', 1311.26),
 ('Queso', 'Cabrera', 1310.9),
 ('Galletas', 'Castro', 1308.23),
 ('Chuletas', 'Cabrera', 1308.01),
 ('Chocolate', 'Pérez', 1307.23),
 ('Uva', 'Serrano', 1306.74),
 ('Mantequilla', 'Velázquez', 1305.61),
 ('Papas fritas', 'Domínguez', 1305.28),
 ('Champú', 'Romero', 1304.04),
 ('Jabón líquido', 'Rodríguez', 1303.62),
 ('Pollo', 'Fuentes', 1303.33),
 ('Tomate', 'Ramírez', 1303.12),
 ('Jugo de naranja', 'Chávez', 1302.32),
 ('Tomate', 'Cruz', 1301.89),
 ('Chuletas', 'Flores', 1301.83),
 ('Zanahoria', 'Paredes', 1301.41),
 ('Detergente', 'Carrillo', 1301.32),
 ('Velas', 'Romero', 1301.11),
 ('Velas', 'Delgado', 1301.03),
 ('Papas fritas', 'Rubio', 1299.36),
 ('Refresco', 'Montes', 1298.23),
 ('Lechuga', 'González', 1297.73),
 ('Bolsas de basura', 'Cruz', 1297.67),
 ('Chuletas', 'Ruiz', 1297.3),
 ('Platos desechables', 'Santos', 1297.21),
 ('Velas', 'Flores', 1296.77),
 ('Galletas', 'Romero', 1295.54),
 ('Chicles', 'Rodríguez', 1295.02),
 ('Detergente', 'Rodríguez', 1293.94),
 ('Cerdo', 'Díaz', 1292.02),
 ('Carne de res', 'Velázquez', 1291.66),
 ('Cerveza', 'Rubio', 1286.8),
 ('Cebolla', 'Campos', 1285.77),
 ('Fertilizante', 'Cabrera', 1285.47),
 ('Jugo de naranja', 'Flores', 1284.12),
 ('Jugo de naranja', 'Pérez', 1284.05),
 ('Chocolate', 'Romero', 1283.38),
 ('Galletas', 'Cortés', 1283.24),
 ('Desinfectante', 'Fernández', 1281.4),
 ('Naranja', 'Delgado', 1276.89),
 ('Desinfectante', 'Ruiz', 1276.15),
 ('Banana', 'Carrillo', 1275.81),
 ('Fertilizante', 'Molina', 1275.24),
 ('Regadera', 'Flores', 1272.64),
 ('Semillas', 'Peña', 1270.74),
 ('Detergente', 'Martínez', 1270.63),
 ('Colonia', 'Romero', 1270.53),
 ('Desodorante', 'Sánchez', 1268.74),
 ('Detergente', 'Campos', 1267.83),
 ('Naranja', 'Navarro', 1267.26),
 ('Colonia', 'Díaz', 1266.81),
 ('Tomate', 'Velázquez', 1266.63),
 ('Naranja', 'Vázquez', 1266.06),
 ('Lechuga', 'Medina', 1263.43),
 ('Chicles', 'Medina', 1262.81),
 ('Pollo', 'Martínez', 1261.09),
 ('Yogur', 'Álvarez', 1259.52),
 ('Fertilizante', 'Ortiz', 1259.48),
 ('Platos desechables', 'Torres', 1259.26),
 ('Velas', 'Cortés', 1257.98),
 ('Colonia', 'Serrano', 1257.39),
 ('Refresco', 'García', 1257.22),
 ('Jugo de naranja', 'Serrano', 1254.67),
 ('Chuletas', 'Sánchez', 1254.63),
 ('Fertilizante', 'Fuentes', 1254.41),
 ('Queso', 'Esquivel', 1252.39),
 ('Chocolate', 'Fuentes', 1252.04),
 ('Cerveza', 'Carrillo', 1250.64),
 ('Champú', 'Pérez', 1249.35),
 ('Yogur', 'Pérez', 1248.27),
 ('Bolsas de basura', 'López', 1247.24),
 ('Platos desechables', 'Peña', 1246.99),
 ('Chuletas', 'Romero', 1246.77),
 ('Yogur', 'Medina', 1246.65),
 ('Tomate', 'Chávez', 1245.74),
 ('Carne de res', 'Cruz', 1245.66),
 ('Mantequilla', 'Jiménez', 1245.19),
 ('Semillas', 'Velázquez', 1244.95),
 ('Leche', 'Torres', 1243.58),
 ('Cerdo', 'Ruiz', 1240.56),
 ('Bolsas de basura', 'González', 1240.55),
 ('Agua', 'Serrano', 1239.35),
 ('Mantequilla', 'Molina', 1237.42),
 ('Lechuga', 'López', 1236.8),
 ('Tomate', 'Cabrera', 1235.91),
 ('Colonia', 'Aguilar', 1232.6),
 ('Desinfectante', 'Ruiz', 1232.18),
 ('Leche', 'Santos', 1231.99),
 ('Jabón líquido', 'Salinas', 1231.12),
 ('Pollo', 'Domínguez', 1230.21),
 ('Platos desechables', 'Rodríguez', 1229.37),
 ('Refresco', 'Martínez', 1229.36),
 ('Pilas', 'Salinas', 1228.67),
 ('Banana', 'Torres', 1227.9),
 ('Pilas', 'Torres', 1227.6),
 ('Lechuga', 'Vázquez', 1226.93),
 ('Leche', 'Ruiz', 1226.53),
 ('Tomate', 'Campos', 1225.61),
 ('Lechuga', 'Romero', 1222.27),
 ('Cebolla', 'Méndez', 1220.87),
 ('Pilas', 'Navarro', 1220.66),
 ('Desinfectante', 'Molina', 1220.63),
 ('Pollo', 'Romero', 1220.27),
 ('Cerdo', 'González', 1220.22),
 ('Cerdo', 'Álvarez', 1219.72),
 ('Jugo de naranja', 'Reyes', 1218.88),
 ('Velas', 'Moreno', 1218.54),
 ('Cerveza', 'Rodríguez', 1217.13),
 ('Chuletas', 'Jiménez', 1216.37),
 ('Bolsas de basura', 'Carrillo', 1215.09),
 ('Colonia', 'Guzmán', 1214.87),
 ('Zanahoria', 'Díaz', 1214.29),
 ('Cerdo', 'Delgado', 1214.05),
 ('Pollo', 'Cabrera', 1213.74),
 ('Desinfectante', 'Campos', 1213.14),
 ('Uva', 'Carrillo', 1211.79),
 ('Jugo de naranja', 'Reyes', 1211.51),
 ('Semillas', 'Ortiz', 1210.32),
 ('Bolsas de basura', 'Santos', 1209.61),
 ('Banana', 'Delgado', 1206.74),
 ('Detergente', 'Fernández', 1206.53),
 ('Mantequilla', 'Campos', 1206.17),
 ('Naranja', 'Jiménez', 1203.97),
 ('Crema hidratante', 'Domínguez', 1203.6),
 ('Cerdo', 'Domínguez', 1203.23),
 ('Pilas', 'Velázquez', 1202.84),
 ('Lechuga', 'Ruiz', 1202.18),
 ('Manzana', 'Ramos', 1200.49),
 ('Cerveza', 'García', 1200.44),
 ('Crema hidratante', 'Ruiz', 1196.24),
 ('Chocolate', 'Lara', 1195.26),
 ('Carne de res', 'Hernández', 1192.72),
 ('Tomate', 'Moreno', 1192.32),
 ('Zanahoria', 'Peña', 1191.52),
 ('Mantequilla', 'Cabrera', 1189.29),
 ('Tierra para macetas', 'Salinas', 1188.7),
 ('Naranja', 'García', 1187.98),
 ('Crema hidratante', 'Hernández', 1187.29),
 ('Queso', 'Ramos', 1185.3),
 ('Banana', 'Jiménez', 1184.78),
 ('Champú', 'Ramírez', 1184.48),

* 5.-Empleados y número de órdenes gestionadas

    * Muestra el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
    * Utiliza GROUP BY y COUNT.

In [38]:
sql = ('SELECT e.nombre_empleado AS EMPLEADO, e.puesto AS PUESTO, count(o.id_empleado) AS ORDENES FROM empleados e JOIN ordenes o ON o.id_empleado = e.id_empleado GROUP BY e.id_empleado')
consultas(sql)

[('Mario Guzmán', 'Cajero', 80),
 ('Irene Ortiz', 'Reponedor', 82),
 ('Adriana Cortés', 'Encargado de sección', 74),
 ('David Lara', 'Gerente', 78),
 ('Laura Aguilar', 'Personal de limpieza', 88),
 ('Verónica Jiménez', 'Panadero', 72),
 ('Miguel Cabrera', 'Carnicero', 73),
 ('Irene Esquivel', 'Pescadero', 75),
 ('Sofía Romero', 'Frutero', 74),
 ('Tomás Moreno', 'Charcutero', 70),
 ('Ana Chávez', 'Jefe de turno', 65),
 ('Cristian Reyes', 'Operador logístico', 59),
 ('Jorge Montes', 'Atención al cliente', 85),
 ('Cristian Cruz', 'Auxiliar de caja', 74),
 ('Ricardo Fernández', 'Encargado de seguridad', 81),
 ('David López', 'Responsable de zona', 82),
 ('Sergio Delgado', 'Jefe de compras', 75),
 ('Camila Paredes', 'Encargada carnicería', 83),
 ('José Flores', 'encargado pescadería', 74),
 ('Mario Serrano', 'Jefe de Limpieza', 68),
 ('Lucía Fuentes', 'Cajero', 74),
 ('Diego Lara', 'Reponedor', 68),
 ('Laura Sánchez', 'Encargado de sección', 63),
 ('Ricardo Ortiz', 'Gerente', 62),
 ('Cristian Díaz', 'Personal de limpieza', 51),
 ('Irene Torres', 'Panadero', 77),
 ('Natalia Díaz', 'Carnicero', 64),
 ('Valeria Domínguez', 'Pescadero', 67),
 ('Tomás Flores', 'Frutero', 71),
 ('Fernando Pérez', 'Charcutero', 82),
 ('Lorena Esquivel', 'Jefe de turno', 75),
 ('Valeria Méndez', 'Operador logístico', 66),
 ('Miguel Reyes', 'Atención al cliente', 68),
 ('Gabriela Santos', 'Auxiliar de caja', 80),
 ('Paula Martínez', 'Encargado de seguridad', 69),
 ('Sofía Campos', 'Responsable de zona', 82),
 ('Irene Chávez', 'Jefe de compras', 80),
 ('Miguel Castro', 'Encargada carnicería', 76),
 ('Diego Carrillo', 'encargado pescadería', 60),
 ('Adriana Torres', 'Jefe de Limpieza', 77),
 ('Daniel Lara', 'Cajero', 79),
 ('Ricardo Cabrera', 'Reponedor', 69),
 ('Sara Fernández', 'Encargado de sección', 73),
 ('María García', 'Gerente', 73),
 ('Sergio Ortiz', 'Personal de limpieza', 81),
 ('Francisco Martínez', 'Panadero', 68),
 ('Sofía Montes', 'Carnicero', 75),
 ('Elena López', 'Pescadero', 85),
 ('Andrés Molina', 'Frutero', 62),
 ('Manuel Sánchez', 'Charcutero', 69),
 ('Clara Torres', 'Jefe de turno', 76),
 ('Javier Pérez', 'Operador logístico', 58),
 ('David Peña', 'Atención al cliente', 77),
 ('Cristian Ortiz', 'Auxiliar de caja', 67),
 ('Carla González', 'Encargado de seguridad', 61),
 ('Manuel Méndez', 'Responsable de zona', 71),
 ('Pablo Lara', 'Jefe de compras', 65),
 ('Luis Díaz', 'Encargada carnicería', 72),
 ('Elena Montes', 'encargado pescadería', 64),
 ('Carmen Delgado', 'Jefe de Limpieza', 68),
 ('Natalia Navarro', 'Cajero', 75),
 ('Jorge Martínez', 'Reponedor', 84),
 ('Jorge Jiménez', 'Encargado de sección', 61),
 ('Valeria Torres', 'Gerente', 65),
 ('Hugo Montes', 'Personal de limpieza', 69),
 ('Fernando Romero', 'Panadero', 83),
 ('Julia Santos', 'Carnicero', 78),
 ('Samuel González', 'Pescadero', 63),
 ('Carmen García', 'Frutero', 62),
 ('Carlos Castro', 'Charcutero', 92),
 ('Jorge Pérez', 'Jefe de turno', 58),
 ('Valeria Rodríguez', 'Operador logístico', 64),
 ('Eva Delgado', 'Atención al cliente', 73),
 ('Raúl Carrillo', 'Auxiliar de caja', 64),
 ('Ana Ortiz', 'Encargado de seguridad', 64),
 ('Gabriela Reyes', 'Responsable de zona', 76),
 ('Hugo Torres', 'Jefe de compras', 64),
 ('Javier Martínez', 'Encargada carnicería', 69),
 ('Camila López', 'encargado pescadería', 58),
 ('Tomás Domínguez', 'Jefe de Limpieza', 65),
 ('Sergio Carrillo', 'Cajero', 68),
 ('Paula Serrano', 'Reponedor', 78),
 ('Tomás Peña', 'Encargado de sección', 61),
 ('Eduardo Cabrera', 'Gerente', 56),
 ('Carla López', 'Personal de limpieza', 64),
 ('Irene Navarro', 'Panadero', 86),
 ('Ángel Molina', 'Carnicero', 72),
 ('María Velázquez', 'Pescadero', 74),
 ('Daniel Sánchez', 'Frutero', 69),
 ('Miguel Méndez', 'Charcutero', 69),
 ('Natalia Hernández', 'Jefe de turno', 67),
 ('Carmen Serrano', 'Operador logístico', 55),
 ('Camila Carrillo', 'Atención al cliente', 56),
 ('Carlos González', 'Auxiliar de caja', 82),
 ('Andrea Hernández', 'Encargado de seguridad', 70),
 ('Laura Ramírez', 'Responsable de zona', 72),
 ('María Delgado', 'Jefe de compras', 71),
 ('Ricardo Jiménez', 'Encargada carnicería', 67),
 ('Javier Velázquez', 'encargado pescadería', 72),
 ('Camila Ruiz', 'Jefe de Limpieza', 72),
 ('Natalia Paredes', 'Cajero', 89),
 ('José Aguilar', 'Reponedor', 59),
 ('Cristian Vázquez', 'Encargado de sección', 64),
 ('Sergio Rodríguez', 'Gerente', 79),
 ('Hugo Moreno', 'Personal de limpieza', 67),
 ('Gabriela Torres', 'Panadero', 84),
 ('Pablo Reyes', 'Carnicero', 69),
 ('Francisco Carrillo', 'Pescadero', 80),
 ('Camila Esquivel', 'Frutero', 71),
 ('Paula Cortés', 'Charcutero', 72),
 ('Patricia Santos', 'Jefe de turno', 78),
 ('Carmen Ortiz', 'Operador logístico', 82),
 ('Diana Ramos', 'Atención al cliente', 72),
 ('David Castro', 'Auxiliar de caja', 60),
 ('Ana Cruz', 'Encargado de seguridad', 56),
 ('Cristian Fernández', 'Responsable de zona', 80),
 ('Mario Serrano', 'Jefe de compras', 68),
 ('Daniel Cabrera', 'Encargada carnicería', 80),
 ('Andrés Montes', 'encargado pescadería', 56),
 ('Miguel Pérez', 'Jefe de Limpieza', 68),
 ('Mario Paredes', 'Cajero', 79),
 ('Isabel Santos', 'Reponedor', 75),
 ('Ángel Carrillo', 'Encargado de sección', 75),
 ('Gabriela Cruz', 'Gerente', 77),
 ('Sergio Ortiz', 'Personal de limpieza', 72),
 ('María Ortiz', 'Panadero', 59),
 ('José González', 'Carnicero', 68),
 ('Adriana Velázquez', 'Pescadero', 97),
 ('Gabriela Ramírez', 'Frutero', 66),
 ('Gabriela Sánchez', 'Charcutero', 61),
 ('Marta Montes', 'Jefe de turno', 92),
 ('Luis Moreno', 'Operador logístico', 66),
 ('Laura Jiménez', 'Atención al cliente', 65),
 ('Diana Chávez', 'Auxiliar de caja', 75),
 ('Jorge Castro', 'Encargado de seguridad', 68),
 ('Carlos Delgado', 'Responsable de zona', 65),
 ('David Castro', 'Jefe de compras', 69),
 ('Daniel Guzmán', 'Encargada carnicería', 77),
 ('Raúl Sánchez', 'encargado pescadería', 89),
 ('Ángel Díaz', 'Jefe de Limpieza', 66)]

* 6.-Ordenes filtradas por fecha y tienda

    * Muestra todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
    * Incluye datos de la tienda y del cliente.

In [39]:
sql = ("SELECT t.id_tienda, t.nombre_tienda AS tienda, o.id_orden AS factura, o.fecha_orden AS fecha, concat(c.first_name,' ',c.last_name) AS cliente FROM tiendas t JOIN empleados e ON t.id_tienda = e.id_tienda JOIN ordenes o ON o.id_empleado = e.id_empleado JOIN clientes c ON c.id_cliente = o.id_cliente WHERE T.id_tienda = 1 and o.fecha_orden > '2024-01-31' and o.fecha_orden < '2024-03-01' ORDER BY o.fecha_orden;")
consultas(sql)

[(1, 'Tienda Centro', 788, datetime.date(2024, 2, 1), 'Cebolla Méndez'),
 (1, 'Tienda Centro', 790, datetime.date(2024, 2, 1), 'Refresco Montes'),
 (1, 'Tienda Centro', 797, datetime.date(2024, 2, 1), 'Mantequilla Vázquez'),
 (1, 'Tienda Centro', 798, datetime.date(2024, 2, 1), 'Cebolla Fernández'),
 (1,
  'Tienda Centro',
  807,
  datetime.date(2024, 2, 2),
  'Crema hidratante Serrano'),
 (1, 'Tienda Centro', 817, datetime.date(2024, 2, 2), 'Cebolla Martínez'),
 (1, 'Tienda Centro', 824, datetime.date(2024, 2, 2), 'Manzana Carrillo'),
 (1, 'Tienda Centro', 827, datetime.date(2024, 2, 3), 'Velas Navarro'),
 (1, 'Tienda Centro', 831, datetime.date(2024, 2, 3), 'Chuletas Álvarez'),
 (1, 'Tienda Centro', 833, datetime.date(2024, 2, 3), 'Leche Rubio'),
 (1, 'Tienda Centro', 836, datetime.date(2024, 2, 3), 'Refresco Díaz'),
 (1, 'Tienda Centro', 844, datetime.date(2024, 2, 3), 'Carne de res Esquivel'),
 (1, 'Tienda Centro', 853, datetime.date(2024, 2, 3), 'Desodorante Santos'),
 (1, 'Tienda Centro', 857, datetime.date(2024, 2, 4), 'Leche Ruiz'),
 (1,
  'Tienda Centro',
  859,
  datetime.date(2024, 2, 4),
  'Bolsas de basura López'),
 (1, 'Tienda Centro', 871, datetime.date(2024, 2, 4), 'Pollo Lara'),
 (1, 'Tienda Centro', 878, datetime.date(2024, 2, 5), 'Colonia Serrano'),
 (1,
  'Tienda Centro',
  879,
  datetime.date(2024, 2, 5),
  'Jugo de naranja Serrano'),
 (1,
  'Tienda Centro',
  885,
  datetime.date(2024, 2, 5),
  'Bolsas de basura Vázquez'),
 (1,
  'Tienda Centro',
  888,
  datetime.date(2024, 2, 5),
  'Jugo de naranja Moreno'),
 (1, 'Tienda Centro', 903, datetime.date(2024, 2, 6), 'Chuletas Esquivel'),
 (1, 'Tienda Centro', 905, datetime.date(2024, 2, 6), 'Queso López'),
 (1, 'Tienda Centro', 918, datetime.date(2024, 2, 6), 'Detergente Rodríguez'),
 (1, 'Tienda Centro', 937, datetime.date(2024, 2, 7), 'Velas López'),
 (1, 'Tienda Centro', 948, datetime.date(2024, 2, 8), 'Naranja López'),
 (1,
  'Tienda Centro',
  950,
  datetime.date(2024, 2, 8),
  'Tierra para macetas Serrano'),
 (1, 'Tienda Centro', 960, datetime.date(2024, 2, 8), 'Fertilizante Moreno'),
 (1, 'Tienda Centro', 965, datetime.date(2024, 2, 8), 'Papas fritas Ortiz'),
 (1, 'Tienda Centro', 978, datetime.date(2024, 2, 9), 'Esponjas Esquivel'),
 (1, 'Tienda Centro', 982, datetime.date(2024, 2, 9), 'Leche Molina'),
 (1, 'Tienda Centro', 983, datetime.date(2024, 2, 9), 'Galletas Aguilar'),
 (1, 'Tienda Centro', 984, datetime.date(2024, 2, 9), 'Esponjas Campos'),
 (1, 'Tienda Centro', 985, datetime.date(2024, 2, 9), 'Uva López'),
 (1, 'Tienda Centro', 988, datetime.date(2024, 2, 9), 'Manzana Martínez'),
 (1,
  'Tienda Centro',
  991,
  datetime.date(2024, 2, 9),
  'Platos desechables Salinas'),
 (1,
  'Tienda Centro',
  994,
  datetime.date(2024, 2, 9),
  'Platos desechables Molina'),
 (1, 'Tienda Centro', 1004, datetime.date(2024, 2, 10), 'Manzana Flores'),
 (1, 'Tienda Centro', 1011, datetime.date(2024, 2, 10), 'Velas Jiménez'),
 (1, 'Tienda Centro', 1019, datetime.date(2024, 2, 10), 'Refresco Ortiz'),
 (1,
  'Tienda Centro',
  1029,
  datetime.date(2024, 2, 11),
  'Jabón líquido Salinas'),
 (1, 'Tienda Centro', 1041, datetime.date(2024, 2, 11), 'Chuletas Flores'),
 (1, 'Tienda Centro', 1043, datetime.date(2024, 2, 11), 'Yogur García'),
 (1, 'Tienda Centro', 1067, datetime.date(2024, 2, 12), 'Cerveza Cortés'),
 (1, 'Tienda Centro', 1069, datetime.date(2024, 2, 12), 'Velas Reyes'),
 (1, 'Tienda Centro', 1074, datetime.date(2024, 2, 12), 'Leche Aguilar'),
 (1, 'Tienda Centro', 1085, datetime.date(2024, 2, 13), 'Zanahoria Montes'),
 (1, 'Tienda Centro', 1090, datetime.date(2024, 2, 13), 'Yogur Sánchez'),
 (1, 'Tienda Centro', 1091, datetime.date(2024, 2, 13), 'Desinfectante López'),
 (1, 'Tienda Centro', 1101, datetime.date(2024, 2, 13), 'Zanahoria Pérez'),
 (1, 'Tienda Centro', 1107, datetime.date(2024, 2, 13), 'Leche Hernández'),
 (1, 'Tienda Centro', 1115, datetime.date(2024, 2, 14), 'Galletas Jiménez'),
 (1, 'Tienda Centro', 1124, datetime.date(2024, 2, 14), 'Tomate Romero'),
 (1, 'Tienda Centro', 1132, datetime.date(2024, 2, 14), 'Chicles Salinas'),
 (1, 'Tienda Centro', 1141, datetime.date(2024, 2, 14), 'Fertilizante Flores'),
 (1, 'Tienda Centro', 1144, datetime.date(2024, 2, 15), 'Pollo Méndez'),
 (1, 'Tienda Centro', 1146, datetime.date(2024, 2, 15), 'Naranja Ruiz'),
 (1, 'Tienda Centro', 1147, datetime.date(2024, 2, 15), 'Uva López'),
 (1, 'Tienda Centro', 1158, datetime.date(2024, 2, 15), 'Colonia Navarro'),
 (1,
  'Tienda Centro',
  1165,
  datetime.date(2024, 2, 15),
  'Platos desechables Romero'),
 (1, 'Tienda Centro', 1169, datetime.date(2024, 2, 15), 'Uva Paredes'),
 (1, 'Tienda Centro', 1182, datetime.date(2024, 2, 16), 'Chuletas Álvarez'),
 (1,
  'Tienda Centro',
  1192,
  datetime.date(2024, 2, 16),
  'Tierra para macetas López'),
 (1, 'Tienda Centro', 1198, datetime.date(2024, 2, 16), 'Refresco González'),
 (1, 'Tienda Centro', 1200, datetime.date(2024, 2, 16), 'Papas fritas Campos'),
 (1,
  'Tienda Centro',
  1201,
  datetime.date(2024, 2, 16),
  'Carne de res Carrillo'),
 (1, 'Tienda Centro', 1206, datetime.date(2024, 2, 17), 'Velas Jiménez'),
 (1, 'Tienda Centro', 1218, datetime.date(2024, 2, 17), 'Esponjas Pérez'),
 (1, 'Tienda Centro', 1222, datetime.date(2024, 2, 17), 'Chicles Rodríguez'),
 (1, 'Tienda Centro', 1223, datetime.date(2024, 2, 17), 'Chocolate Ortiz'),
 (1, 'Tienda Centro', 1228, datetime.date(2024, 2, 18), 'Cebolla Ruiz'),
 (1, 'Tienda Centro', 1257, datetime.date(2024, 2, 19), 'Detergente Fuentes'),
 (1, 'Tienda Centro', 1260, datetime.date(2024, 2, 19), 'Galletas Ramos'),
 (1, 'Tienda Centro', 1264, datetime.date(2024, 2, 19), 'Tomate Campos'),
 (1, 'Tienda Centro', 1267, datetime.date(2024, 2, 19), 'Cerdo Ruiz'),
 (1, 'Tienda Centro', 1269, datetime.date(2024, 2, 19), 'Pilas Díaz'),
 (1, 'Tienda Centro', 1273, datetime.date(2024, 2, 19), 'Mantequilla Lara'),
 (1, 'Tienda Centro', 1275, datetime.date(2024, 2, 19), 'Chocolate Hernández'),
 (1, 'Tienda Centro', 1282, datetime.date(2024, 2, 20), 'Chicles Campos'),
 (1, 'Tienda Centro', 1285, datetime.date(2024, 2, 20), 'Colonia Álvarez'),
 (1,
  'Tienda Centro',
  1291,
  datetime.date(2024, 2, 20),
  'Desinfectante Molina'),
 (1, 'Tienda Centro', 1307, datetime.date(2024, 2, 20), 'Mantequilla Torres'),
 (1, 'Tienda Centro', 1312, datetime.date(2024, 2, 21), 'Carne de res Ortiz'),
 (1,
  'Tienda Centro',
  1314,
  datetime.date(2024, 2, 21),
  'Bolsas de basura Cruz'),
 (1,
  'Tienda Centro',
  1340,
  datetime.date(2024, 2, 22),
  'Jabón líquido Ramírez'),
 (1, 'Tienda Centro', 1343, datetime.date(2024, 2, 22), 'Fertilizante Cruz'),
 (1, 'Tienda Centro', 1349, datetime.date(2024, 2, 22), 'Mantequilla Romero'),
 (1,
  'Tienda Centro',
  1352,
  datetime.date(2024, 2, 22),
  'Bolsas de basura Fernández'),
 (1,
  'Tienda Centro',
  1357,
  datetime.date(2024, 2, 22),
  'Tierra para macetas Pérez'),
 (1, 'Tienda Centro', 1366, datetime.date(2024, 2, 23), 'Zanahoria Cabrera'),
 (1, 'Tienda Centro', 1377, datetime.date(2024, 2, 23), 'Detergente Ramírez'),
 (1, 'Tienda Centro', 1378, datetime.date(2024, 2, 23), 'Cebolla Jiménez'),
 (1, 'Tienda Centro', 1384, datetime.date(2024, 2, 23), 'Pilas Martínez'),
 (1, 'Tienda Centro', 1389, datetime.date(2024, 2, 23), 'Leche García'),
 (1, 'Tienda Centro', 1394, datetime.date(2024, 2, 24), 'Agua Hernández'),
 (1, 'Tienda Centro', 1397, datetime.date(2024, 2, 24), 'Zanahoria Cabrera'),
 (1, 'Tienda Centro', 1398, datetime.date(2024, 2, 24), 'Pilas Cabrera'),
 (1, 'Tienda Centro', 1400, datetime.date(2024, 2, 24), 'Banana Vázquez'),
 (1, 'Tienda Centro', 1402, datetime.date(2024, 2, 24), 'Fertilizante Moreno'),
 (1, 'Tienda Centro', 1403, datetime.date(2024, 2, 24), 'Esponjas Aguilar'),
 (1, 'Tienda Centro', 1417, datetime.date(2024, 2, 25), 'Banana Jiménez'),
 (1, 'Tienda Centro', 1418, datetime.date(2024, 2, 25), 'Zanahoria Hernández'),
 (1, 'Tienda Centro', 1423, datetime.date(2024, 2, 25), 'Pollo Martínez'),
 (1, 'Tienda Centro', 1425, datetime.date(2024, 2, 25), 'Chocolate Martínez'),
 (1, 'Tienda Centro', 1437, datetime.date(2024, 2, 26), 'Lechuga Jiménez'),
 (1,
  'Tienda Centro',
  1455,
  datetime.date(2024, 2, 26),
  'Crema hidratante Fuentes'),
 (1, 'Tienda Centro', 1461, datetime.date(2024, 2, 27), 'Cerveza García'),
 (1, 'Tienda Centro', 1475, datetime.date(2024, 2, 27), 'Mantequilla Aguilar'),
 (1, 'Tienda Centro', 1479, datetime.date(2024, 2, 27), 'Zanahoria García'),
 (1, 'Tienda Centro', 1483, datetime.date(2024, 2, 27), 'Zanahoria Velázquez'),
 (1,
  'Tienda Centro',
  1498,
  datetime.date(2024, 2, 28),
  'Jabón líquido Chávez'),
 (1, 'Tienda Centro', 1514, datetime.date(2024, 2, 28), 'Lechuga Salinas'),
 (1,
  'Tienda Centro',
  1516,
  datetime.date(2024, 2, 28),
  'Crema hidratante Cruz'),
 (1, 'Tienda Centro', 1520, datetime.date(2024, 2, 28), 'Fertilizante Ortiz'),
 (1, 'Tienda Centro', 1529, datetime.date(2024, 2, 29), 'Naranja Jiménez'),
 (1, 'Tienda Centro', 1532, datetime.date(2024, 2, 29), 'Zanahoria Velázquez'),
 (1, 'Tienda Centro', 1546, datetime.date(2024, 2, 29), 'Naranja Guzmán')]

* 7.-Ranking de productos más vendidos en cada tienda


    * Para cada tienda, muestra los 3 productos más vendidos (en términos de cantidad total).
    * Tendrás que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
    * Usa GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

In [40]:
		
sql = ('WITH ranking_productos AS (SELECT t.nombre_tienda, p.nombre_producto, SUM(do.cantidad) AS total_vendido, ROW_NUMBER() OVER (PARTITION BY t.id_tienda ORDER BY SUM(do.cantidad) DESC) AS ranking FROM tiendas t JOIN empleados e ON t.id_tienda = e.id_tienda JOIN ordenes o ON e.id_empleado = o.id_empleado JOIN detalle_orden do ON o.id_orden = do.id_orden JOIN productos p ON do.id_producto = p.id_producto GROUP BY t.id_tienda, t.nombre_tienda, p.id_producto, p.nombre_producto) SELECT nombre_tienda, nombre_producto, total_vendido FROM ranking_productos WHERE ranking <= 3 ORDER BY nombre_tienda, ranking;')
consultas(sql)

[('Central Tiendas', 'Semillas', 1560.0),
 ('Central Tiendas', 'Pilas', 1412.0),
 ('Central Tiendas', 'Chocolate', 1390.0),
 ('Tienda Centro', 'Zanahoria', 1479.0),
 ('Tienda Centro', 'Platos desechables', 1424.0),
 ('Tienda Centro', 'Chocolate', 1389.0),
 ('Tienda Este', 'Desinfectante', 1291.0),
 ('Tienda Este', 'Esponjas', 1265.0),
 ('Tienda Este', 'Chicles', 1234.0),
 ('Tienda Norte', 'Jugo de naranja', 1307.0),
 ('Tienda Norte', 'Carne de res', 1297.0),
 ('Tienda Norte', 'Chocolate', 1287.0),
 ('Tienda Oeste', 'Cerveza', 1578.0),
 ('Tienda Oeste', 'Tierra para macetas', 1410.0),
 ('Tienda Oeste', 'Cerdo', 1397.0),
 ('Tienda Poniente', 'Tierra para macetas', 1440.0),
 ('Tienda Poniente', 'Papas fritas', 1433.0),
 ('Tienda Poniente', 'Uva', 1391.0),
 ('Tienda Sur', 'Semillas', 1422.0),
 ('Tienda Sur', 'Crema hidratante', 1411.0),
 ('Tienda Sur', 'Champú', 1336.0)]